---
layout: page-full
title: Film
styles: css/4.1-pages-film.css
style: page-film
---

<p class="container-ideal">
  I enjoy watching films (movies and tv-series). I watch a lof of them.
  These are the ones I can watch, and re-watch repeatedly, and continue to appreciate the masterpieces.
  <mark>Last updated: Jul 31, 2025</mark>
</p>

{% if site.data.movies %}
<h2 id="movies">Movies</h2>
<ul class="item__cards">
{% assign sorted_movies = site.data.movies | sort:'title' -%}
{% for movie in sorted_movies -%}
  <li>
    <a href="{{ movie.url }}">
      <figure>
        <img width="225" height="300" src="{{ site.baseurl | prepend: site.url }}/static/films/{{ movie.img }}" alt="{{ movie.title }}">
        <figcaption>{{ movie.title }} <span>({{ movie.year }})</span></figcaption>
      </figure>
    </a>
  </li>
{% endfor -%}
</ul>
{% endif %}

{% if site.data.movies %}
<h2 id="movies-india">Movies (To Watch)</h2>
<ul class="item__cards">
{% assign sorted_movies = site.data.movies-tbd | sort:'title' -%}
{% for movie in sorted_movies -%}
  <li>
    <a href="{{ movie.url }}">
      <figure>
        <img width="225" height="300" src="{{ site.baseurl | prepend: site.url }}/static/films/{{ movie.img }}" alt="{{ movie.title }}">
        <figcaption>{{ movie.title }} <span>({{ movie.year }})</span></figcaption>
      </figure>
    </a>
  </li>
{% endfor -%}
</ul>
{% endif %}

{% if site.data.tv %}
<h2 id="tv">TV-Series</h2>
<ul class="item__cards">
{% assign sorted_series = site.data.tv | sort:'title' -%}
{% for series in sorted_series -%}
  <li>
    <a href="{{ series.url }}">
      <figure>
        <img width="225" height="300" src="{{ site.baseurl | prepend: site.url }}/static/films/{{ series.img }}" alt="{{ series.title }}">
        <figcaption>{{ series.title }} <span>({{ series.year }})</span></figcaption>
      </figure>
    </a>
  </li>
{% endfor -%}
</ul>
{% endif %}
