---
layout: page-full
title: Film
style: page-film
---

<p>
	I enjoyed watching these
	<a href="https://en.wikipedia.org/wiki/Film">films</a> (movies and TV series).
	I can watch, and re-watch them, and continue to appreciate the masterpieces.
</p>

<h2 id="tv">TV-Series</h2>

{% if site.data.tv %}
<ul class="item__cards">
{% for series in site.data.tv -%}
	<li>
		<a href="{{ series.url }}" target="_film">
			<figure>
				<img width="240" height="150" src="{{ site.baseurl | prepend: site.url }}/static/film/{{ series.img }}" alt="{{ series.title }}">
  			<figcaption>{{ series.title }} <span>({{ series.year }})</span></figcaption>
  		</figure>
		</a>
	</li>
{% endfor -%}
</ul>
{% endif %}

<h2 id="movies">Movies</h2>

{% if site.data.movies %}
<ul class="item__cards">
{% for movie in site.data.movies -%}
	<li>
		<a href="{{ movie.url }}" target="_film">
			<figure>
				<img width="225" height="300" src="{{ site.baseurl | prepend: site.url }}/static/film/{{ movie.img }}" alt="{{ movie.title }}">
  			<figcaption>{{ movie.title }} <span>({{ movie.year }})</span></figcaption>
  		</figure>
		</a>
	</li>
{% endfor -%}
</ul>
{% endif %}

<h2 id="movies-india">Movies (India)</h2>

{% if site.data.movies %}
<ul class="item__cards">
{% for movie in site.data.movies-india -%}
	<li>
		<a href="{{ movie.url }}" target="_film">
			<figure>
				<img width="225" height="300" src="{{ site.baseurl | prepend: site.url }}/static/film/{{ movie.img }}" alt="{{ movie.title }}">
  			<figcaption>{{ movie.title }} <span>({{ movie.year }})</span></figcaption>
  		</figure>
		</a>
	</li>
{% endfor -%}
</ul>
{% endif %}

<h2 id="movies-india">Movies (To Watch)</h2>

{% if site.data.movies %}
<ul class="item__cards">
{% for movie in site.data.movies-tbd -%}
	<li>
		<a href="{{ movie.url }}" target="_film">
			<figure>
				<img width="225" height="300" src="{{ site.baseurl | prepend: site.url }}/static/film/{{ movie.img }}" alt="{{ movie.title }}">
  			<figcaption>{{ movie.title }} <span>({{ movie.year }})</span></figcaption>
  		</figure>
		</a>
	</li>
{% endfor -%}
</ul>
{% endif %}