---
layout: page-full
title: Film
style: page-film
---

<h2 id="tv">TV-Series</h2>

{% if site.data.tv %}
<ul class="item__cards">
{% for series in site.data.tv -%}
	<li>
		<a href="{{ series.url }}" target="_film">
			<figure>
				<img width="240" height="150" src="{{ site.baseurl | prepend: site.url }}/static/film/tv/{{ series.img }}" alt="{{ series.title }}">
  			<figcaption>{{ series.title }} <span>({{ series.year }})</span></figcaption>
  		</figure>
		</a>
	</li>
{% endfor -%}
</ul>
{% endif %}

<h2 id="movies">Movies</h2>

{% if site.data.movies %}
<ul class="item__cards">
{% for movie in site.data.movies -%}
	<li>
		<a href="{{ movie.url }}" target="_film">
			<figure>
				<img width="225" height="300" src="{{ site.baseurl | prepend: site.url }}/static/film/movies/{{ movie.img }}" alt="{{ movie.title }}">
  			<figcaption>{{ movie.title }} <span>({{ movie.year }})</span></figcaption>
  		</figure>
		</a>
	</li>
{% endfor -%}
</ul>
{% endif %}

<h2 id="movies-india">Movies (India)</h2>

{% if site.data.movies %}
<ul class="item__cards">
{% for movie in site.data.movies-india -%}
	<li>
		<a href="{{ movie.url }}" target="_film">
			<figure>
				<img width="225" height="300" src="{{ site.baseurl | prepend: site.url }}/static/film/movies/{{ movie.img }}" alt="{{ movie.title }}">
  			<figcaption>{{ movie.title }} <span>({{ movie.year }})</span></figcaption>
  		</figure>
		</a>
	</li>
{% endfor -%}
</ul>
{% endif %}


<article>
	<p>
		I enjoyed watching these <a href="https://en.wikipedia.org/wiki/Film">films</a> (movies and TV series). I can watch and re-watch them and continue to appreciate the masterpieces.
	</p>
	<h3>References</h3>
	<ul>
		<li>Here are more than <a href="https://www.rogerebert.com/great-movies">300 reconsiderations and appreciations of movies</a> from the distant past to the recent past, all of movies that I consider worthy of being called “great.” - Roger Ebert</li>
		<li>IMDB’s <a href="https://www.imdb.com/list/ls064721857/">Top 200 Greatest Films Of All Time</a></li>
	</ul>
</article>
 
<!--

Add ’EM
Inception, 2010, https://en.wikipedia.org/wiki/Inception
Interstellar, 2014, https://en.wikipedia.org/wiki/Interstellar_(film)
Once Upon a Time in the West, 1968, https://en.wikipedia.org/wiki/Once_Upon_a_Time_in_the_West
The Matrix, 1999, https://en.wikipedia.org/wiki/The_Matrix
Schindler’s List, 1993, https://en.wikipedia.org/wiki/Schindler%27s_List
Léon: The Professional, 1994, https://en.wikipedia.org/wiki/Léon:_The_Professional
First Blood, 1982, https://en.wikipedia.org/wiki/First_Blood
V for Vendetta, 2005, https://en.wikipedia.org/wiki/V_for_Vendetta
Back to the Future, 1985, https://en.wikipedia.org/wiki/Back_to_the_Future
The Truman Show, 1998, https://en.wikipedia.org/wiki/The_Truman_Show
The Usual Suspects, 1995, https://en.wikipedia.org/wiki/The_Usual_Suspects
Gladiator, 2000, https://en.wikipedia.org/wiki/Gladiator
Scarface, 1983, https://en.wikipedia.org/wiki/Scarface_(1983_film)
Iron Man,, 2008, https://en.wikipedia.org/wiki/Iron_Man_(2008_film)
Avatar, 2009, https://en.wikipedia.org/wiki/Avatar_(2009_film)
Blade Runner, 1982, https://en.wikipedia.org/wiki/Blade_Runner
Top Gun, 1986, https://en.wikipedia.org/wiki/Top_Gun


Was suggested; Yet to Watch

- Abre los Ojos (1997)
- Brazil (1985)
- Enemy (2013)
- Gozu (2003)
- Hara-Kiri (1962)
- Identity (2003)
- Jacob’s Ladder (1990)
- Lost Highway (1997)
- Persona (1966)
- Stalker (1979)
- Synecdoche, New York (2008)
- The Cabinet of Dr Caligari (1920)
- The Holy Mountain (1973)
- Ugetsu (1953)
- West Side Story (1961)
-->