---
layout: default
title: Brajeshwar Oinam
---

<main>
  <home-container>
    <home-intro>
      <h1>{{ site.data.ui.me.intro }}</h1>
      <p>{{ site.data.ui.me.intro_desc }}</p>
    </home-intro>

    <home-articles>{% include home-articles.html %}</home-articles>

    <home-popular>{% include home-popular.html %}</home-popular>

    <home-aside>
      {% include home-connect.html %}
      {% include home-alumni.html %}
      {% include home-support.html %}
    </home-aside>
  </home-container>

  {%- assign home_books_count  = 7 -%}
  {%- assign home_album_count = 13 -%}

  {%- assign books_tail = site.data.books-favorites | slice: 0, home_books_count -%}
  {% include home-strip.html
     items    = books_tail
     title    = "Books"
     href     = "/books/"
     kind     = "books"
     captions = true %}

  {%- assign album_tail = site.data.album | reverse | slice: 0, home_album_count -%}
  {% include home-strip.html
     items = album_tail
     title = "Album"
     href  = "/album/"
     kind  = "album" %}

</main>
