/* fix youtube and other video embeds */
/* manual height based on the ideal width against the video ratio, mostly youtube which is 315/560=0.5625 */
iframe, object, embed {
  height: calc(0.5625 * var(--body-width-ideal));
  border-radius: var(--border-radius);
}

.label {
  font-size: smaller;
  text-align: center;
  border-radius: var(--border-radius-largest);
  background: var(--bg-color-low);
  padding: var(--space-3xs);
}

.pill {
	display: inline-block;
	white-space: nowrap;
	padding: 0 var(--space-smaller);
	border-radius: var(--border-radius-largest);
	background: var(--bg-color-low);
}

.mark {
  background-color: var(--bg-color-low);
  padding: var(--space-2xs);
  line-height: var(--scale-small);

  border-left: var(--border-size-larger) var(--border-style) var(--border-color-high);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.link-border a {
	text-decoration: none;
	border-bottom: var(--border-size) var(--border-style) var(--text-color-lower);
}

.link-border a:hover, .link-border a:active {
	border-bottom-color: var(--text-color-higher);
}

.text-low, .text-low a, .text-low a:hover, .text-low a:active {
  color: var(--text-color-lower);
}

.text-center {
  text-align: center;
}

ul.list-alt-color li:nth-child(even) {
  background-color: var(--bg-color-low);
}

hr.spacer {
  margin: var(--space-m) 0;
  padding: 0;
  background: transparent;
  height: 0;
  border: transparent;
}

/* clamp content to one line */
.one-liner {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.reset-bg-color { background-color: none; }
.reset-border-radius { border-radius: 0; }
.reset-opacity { opacity: 1; }

.visually-hidden {
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
  white-space: nowrap;
  position: absolute;
}