book-cover {
  display: block;
  padding: 0;

  font-family: var(--font-family-serif);

  color: var(--text-color-lightest);
  background-color: var(--bg-color-600);
  border: 1px solid var(--border-color-dark);
  border-left-width: 1rem;
  border-left-color: var(--bg-color-700);
}

book-cover:before {
  display: block;
  height: 5rem;
  content: "";
  background-color: var(--color-zero);
}

book-cover book-title {
  display: block;
  margin: var(--space-3xl) var(--space-m) var(--space-3xs) var(--space-m) ;

  font-family: var(--font-family-sans);
  font-weight: 100;
  font-size: var(--step-3);

  border: 1px solid var(--color-full);
  border-left: 0 none;
  border-right: 0 none;
}

book-cover book-author {
  display: block;
  margin: var(--space-3xs) var(--space-m) var(--space-l) var(--space-m);
}