<nav class="bookmarks">
	<a href="/bookmarks/0/">#!</a>
	<a href="/bookmarks/a/">A</a>
	<a href="/bookmarks/b/">B</a>
	<a href="/bookmarks/c/">C</a>
	<a href="/bookmarks/d/">D</a>
	<a href="/bookmarks/e/">E</a>
	<a href="/bookmarks/f/">F</a>
	<a href="/bookmarks/g/">G</a>
	<a href="/bookmarks/h/">H</a>
	<a href="/bookmarks/i/">I</a>
	<a href="/bookmarks/j/">J</a>
	<a href="/bookmarks/k/">K</a>
	<a href="/bookmarks/l/">L</a>
	<a href="/bookmarks/m/">M</a>
	<a href="/bookmarks/n/">N</a>
	<a href="/bookmarks/o/">O</a>
	<a href="/bookmarks/p/">P</a>
	<a href="/bookmarks/q/">Q</a>
	<a href="/bookmarks/r/">R</a>
	<a href="/bookmarks/s/">S</a>
	<a href="/bookmarks/t/">T</a>
	<a href="/bookmarks/u/">U</a>
	<a href="/bookmarks/v/">V</a>
	<a href="/bookmarks/w/">W</a>
	<a href="/bookmarks/x/">X</a>
	<a href="/bookmarks/y/">Y</a>
	<a href="/bookmarks/z/">Z</a>
</nav>