<h2 class="pages__title">
  <a href="/bookmarks/">Bookmarks</a>
  ›
  {{ page.title }}
 </h2>
<nav>
	<a {% if page.title == "#!" %}class="active"{% endif %} href="/bookmarks/0/">#!</a>
	<a {% if page.title == "A" %}class="active"{% endif %} href="/bookmarks/a/">A</a>
	<a {% if page.title == "B" %}class="active"{% endif %} href="/bookmarks/b/">B</a>
	<a {% if page.title == "C" %}class="active"{% endif %} href="/bookmarks/c/">C</a>
	<a {% if page.title == "D" %}class="active"{% endif %} href="/bookmarks/d/">D</a>
	<a {% if page.title == "E" %}class="active"{% endif %} href="/bookmarks/e/">E</a>
	<a {% if page.title == "F" %}class="active"{% endif %} href="/bookmarks/f/">F</a>
	<a {% if page.title == "G" %}class="active"{% endif %} href="/bookmarks/g/">G</a>
	<a {% if page.title == "H" %}class="active"{% endif %} href="/bookmarks/h/">H</a>
	<a {% if page.title == "I" %}class="active"{% endif %} href="/bookmarks/i/">I</a>
	<a {% if page.title == "J" %}class="active"{% endif %} href="/bookmarks/j/">J</a>
	<a {% if page.title == "K" %}class="active"{% endif %} href="/bookmarks/k/">K</a>
	<a {% if page.title == "L" %}class="active"{% endif %} href="/bookmarks/l/">L</a>
	<a {% if page.title == "M" %}class="active"{% endif %} href="/bookmarks/m/">M</a>
	<a {% if page.title == "N" %}class="active"{% endif %} href="/bookmarks/n/">N</a>
	<a {% if page.title == "O" %}class="active"{% endif %} href="/bookmarks/o/">O</a>
	<a {% if page.title == "P" %}class="active"{% endif %} href="/bookmarks/p/">P</a>
	<a {% if page.title == "Q" %}class="active"{% endif %} href="/bookmarks/q/">Q</a>
	<a {% if page.title == "R" %}class="active"{% endif %} href="/bookmarks/r/">R</a>
	<a {% if page.title == "S" %}class="active"{% endif %} href="/bookmarks/s/">S</a>
	<a {% if page.title == "T" %}class="active"{% endif %} href="/bookmarks/t/">T</a>
	<a {% if page.title == "U" %}class="active"{% endif %} href="/bookmarks/u/">U</a>
	<a {% if page.title == "V" %}class="active"{% endif %} href="/bookmarks/v/">V</a>
	<a {% if page.title == "W" %}class="active"{% endif %} href="/bookmarks/w/">W</a>
	<a {% if page.title == "X" %}class="active"{% endif %} href="/bookmarks/x/">X</a>
	<a {% if page.title == "Y" %}class="active"{% endif %} href="/bookmarks/y/">Y</a>
	<a {% if page.title == "Z" %}class="active"{% endif %} href="/bookmarks/z/">Z</a>
</nav>