<footer>
	<p>
    <a href="/feed.xml">Feed</a>
    &nbsp;
    <a href="/about/">About</a>
    &nbsp;
    <a href="/blog/">Blog</a>
    &nbsp;
    <a href="https://www.linkedin.com/in/brajeshwar/" target="_onm">LinkedIn</a>
    &nbsp;
    <a href="https://twitter.com/brajeshwar" target="_onm">Twitter</a>
  </p>
  <p>Copyright © 2001–2021 Brajeshwar Oinam.</p>
</footer>

<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "a14e94ae914b40fca503d41a0b8b5bbe"}'></script>