<link rel="stylesheet" media="print" href="{{ site.baseurl | prepend: site.url }}/print.css">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0f4c81">
<meta name="msapplication-TileColor" content="#262626">
<meta name="theme-color" content="#0f4c81">