<header class="site-header">
  <section class="container">
    <div class="header">
      <div class="logo">
        <a href="{{ site.baseurl | prepend: site.url }}" title="Home">
          {% include brajeshwar-logo.svg %}
        </a>
      </div>
      <nav class="menu">
        <a href="{{ site.baseurl | prepend: site.url }}/about/" title="About">About</a>
        <a href="{{ site.baseurl | prepend: site.url }}/archives/" title="Archives">Archives</a>
        <a href="{{ site.baseurl | prepend: site.url }}/now/" title="Now">Now</a>
      </nav>
      <!-- 
        perhaps a light/dark theme
      <div class="switch">
        <a href="">#!</a>
      </div> 
      -->
    </div>
  </section>
</header>