<header class="site-header container">
  <div class="header">
    <div class="logo">
      <a href="/" title="Home">
        {%- include brajeshwar-logo.svg -%}
      </a>
    </div>
    <nav class="menu">
      {% for item in site.data.nav.main -%}
        {% assign css_class = nil %}
        {% if page.url contains item.url %}
          {% assign css_class = 'class="active"' %}
        {% endif %}
        <a {{ css_class }} href="{{ item.url }}">{{ item.title }}</a>
      {% endfor -%}
    </nav>
    <div class="mode-switch"></div>
  </div>
</header>