{% if site.data.posts-popular %}
<home-toc>
  <h2 class="toc__heading">Popular & Handpicked</h2>

  <p class="toc__intro">
    Some ranked by the search engines, some picked by me.
  </p>

  <ul class="toc">
    {%- for item in site.data.posts-popular %}
    <li class="toc__row">
      <a class="toc__link" href="{{ item.url | relative_url }}">
        <span class="toc__title">{{ item.title }}</span>
        <span class="toc__leader" aria-hidden="true"></span>
        <span class="toc__date">{{ item.time | upcase }}</span>
      </a>
    </li>
    {%- endfor %}
  </ul>
</home-toc>
{% endif %}
