<article class="home__blog">

  <p>
    I’ve been writing since 2001.
    I write about technology in general, focusing on design, productivity, and startups.  
  </p>
  
  <ul class="home__blog--items">
    {%- for post in site.posts limit: 9 -%}
    <li>
      <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%b %-d, %Y' }}</time>
      <a class="home__blog--title" href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {%- endfor -%}
  </ul>

  {% if site.data.posts-popular %}
  <p class="home__blog--popular">
    Highlights - some of the popular articles ranked by major search engines.
    <ul class="home__blog--popular-items">
      {% for posts-pop in site.data.posts-popular -%}
      <li>
        <a href="{{ posts-pop.url }}">{{ posts-pop.title }}</a>
        <time>{{ posts-pop.time }}</time>
      </li>
      {% endfor -%}
    </ul>
  </p>
  {% endif %}
  
  <p class="mark">
    › The <a href="/archives/">ARCHIVES</a> has all articles.
  </p>

</article>