<article class="support">
  <h2 class="support__title">Endorsements</h2>
  <ul class="support__content">

    <li class="support__content--item">
      <a href="https://inboxstartup.com">Inbox Startup</a>
      helps Startups during the chaotic zero stage.
    </li>
    <li class="support__content--item">
      <a href="https://sendune.com">Sendune</a>
      is a ‘Customer Data Platform’ that integrates with AWS SES to send Emails, SMS, and OTP’s.
    </li>
    <li class="support__content--item">
      <a href="https://www.jobfit360.com">JobFit 360</a>
      harness the potential of AI to foster a holistic, efficient, and inclusive talent acquisition strategy.
    </li>
    <li class="support__content--item">
      <a href="https://mltitude.com">mltitude.ai</a>
      effortlessly unlock insights with AI-powered surveys, assessments, and quizzes that seamlessly collect, analyze, and report data to drive informed decisions.
    </li>
    <li class="support__content--item">
      <a href="https://beondeck.com/r/brajeshwar">On Deck</a>
      is where founders go to build world-changing startups in a community of peers, mentors, and investors.
    </li>
    
  </ul>
  <p class="support__footer">
    <small>
      <em>Disclaimer:</em>
      I’m affiliated with, endorse, support, and use these products. I’m part of, advise, mentor, invest, and/or own parts in some of them.
    </small>
  </p>
</article>