{% if site.data.books %}
<home-books id="books">
	<p>
		Here are some of my all-time favorite books I have read and re-read and would highly recommend. Since 2018, I have started listing the interesting ones I read each year:
		<a href="/2018/books/">2018</a>,
		<a href="/2019/books/">2019</a>,
		<a href="/2020/books/">2020</a>,
		<a href="/2021/books/">2021</a>,
		<a href="/2022/books/">2022</a>,
		<a href="/2023/books/">2023</a>,
		<a href="/2024/books/">2024</a>.
	</p>
	<ul class="item__cards">
		{% for books in site.data.books limit: 6 -%}
		<li>
			<a href="{{ books.url }}" style="background-image: url(/static/books/{{ books.img }});">
				<book-title>{{ books.title }}</book-title>
			</a>
		</li>
		{% endfor -%}
	</ul>
</home-books>
{% endif %}