<home-posts>
  <p>
    I’ve been writing since 2001.
    I write about technology in general, focusing on design, productivity, and startups.
  </p>
  
  <posts-recent>
    <ul>
      {%- for post in site.posts limit: 9 -%}
      <li>
        <a href="{{ post.url }}">
          <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%b %-d, %Y' }}</time>
          {{ post.title }}
        </a>
      </li>
      {%- endfor -%}
    </ul>
  </posts-recent>

  {% if site.data.posts-popular %}
  <posts-popular>
    <p>
      Some of the popular posts ranked by major search engines.
    </p>
    <ul class="home__blog--popular-items">
      {% for item in site.data.posts-popular -%}
      <li>
        <a href="{{ item.url }}">{{ item.title }}</a>
        <time>{{ item.time }}</time>
      </li>
      {% endfor -%}
    </ul>
  </posts-popular>
  {% endif %}
  
  <p class="mark">
    The <a href="/archives/">ARCHIVES</a> has all {{ site.posts | size }} posts.
  </p>
</home-posts>