<article class="connect" id="connect">
  <h3 class="connect__title">Connect</h3>
  <p>
    Email,
    <strong>brajeshwar</strong> <a href="https://oinam.com">@oinam</a>,
    is my preferred communication method, and I’m happy to receive cold emails. I love thoughtful emails and would reply. Please let me know who you are: a clear and short message with a specific ask, an offer, an actionable item, or perhaps just a “Hi.”
  </p>
  <p>
    Find me at
    <a href="https://news.ycombinator.com/user?id=Brajeshwar">Hacker News</a>,
    <a href="https://www.linkedin.com/in/brajeshwar/">LinkedIn</a>,
    &
    <a href="https://twitter.com/brajeshwar">Twitter</a>
  </p>
  
  <h4 class="connect__title--sub">Alumni</h4>
  <p>
    <ul>
      <li><span>2024</span> <a href="https://www.startupbootcamp.org">Startup Bootcamp</a> Netherlands</li>
      <li><span>2022</span> <a href="https://www.entrepreneursforimpact.com/">Entrepreneurs for Impact</a> USA</li>
      <li><span>2022</span> <a href="https://500.co/accelerators/accelerate-aichi">500’s Accelerate Aichi</a> Japan</li>
      <li><span>2020</span> <a href="https://beondeck.com/r/brajeshwar">On Deck</a> USA</li>
      <li><span>2010</span> <a href="https://fi.co">Founder Institute</a> USA</li>
    </ul>
  </p>
  <h4 class="connect__title--sub">Schools & College (Manipur, INDIA)</h4>
  <p>
    <ul>
      <li><span>1999</span> <a href="https://dmcscience.ac.in">Dhanamanjuri College of Science</a></li>
      <li><span>1995</span> <a href="https://manipurpublicschool.in">Manipur Public School</a></li>
      <li><span>1993</span> <a href="https://tinytotsuniqueschool.blogspot.com">Tiny Tots’ Unique School</a></li>
    </ul>
  </p>
</article>