<article class="support">
  <h2 class="support__title">Endorsements</h2>
  <ul class="support__content">

    <li class="support__content--item">
      <a href="https://inboxstartup.com/">Inbox Startup</a>
      helps Startups during the chaotic zero stage.
    </li>
    <li class="support__content--item">
      <a href="https://nextdns.io/?from=at8wqcps">NextDNS</a>
      is the new firewall for the modern Internet.
    </li>
    <li class="support__content--item">
      <a href="https://beondeck.com/r/brajeshwar">On Deck</a>
      is where founders go to build world-changing startups in a community of peers, mentors, and investors.
    </li>
    <li class="support__content--item">
      <a href="https://sendune.com/">SenDune</a>
      is a no-nonsense transactional email platform with much better offering than its competitors.
    </li>
    
  </ul>
  <p class="support__footer">
    <small>
      <strong>Disclaimer:</strong>
      I’m affiliated with, endorse, support, and use these products. I’m part of, or advise, mentor, invest, and/or own parts in some of them.
    </small>
  </p>
</article>