<div
class="gsc-control-cse gsc-control-cse-en"><div
class="gsc-control-wrapper-cse" dir="ltr"><form
class="gsc-search-box gsc-search-box-tools" accept-charset="utf-8"><table cellspacing="0" cellpadding="0" role="presentation"
class="gsc-search-box"><tbody><tr><td
class="gsc-input"><div
class="gsc-input-box" id="gsc-iw-id1"><table cellspacing="0" cellpadding="0" role="presentation" id="gs_id50"
class="gstl_50 gsc-input" style="width: 100%; padding: 0px;"><tbody><tr><td id="gs_tti50"
class="gsib_a"><input autocomplete="off" type="text" size="10"
class="gsc-input" name="search" title="search" aria-label="search" id="gsc-i-id1" dir="ltr" spellcheck="false" style="width: 100%; padding: 0px; border: none; margin: -0.0625em 0px 0px; height: 1.25em; background: url(&quot;https://www.google.com/cse/static/images/1x/en/branding.png&quot;) left center no-repeat rgb(255, 255, 255); outline: none;"></td><td
class="gsib_b"><div
class="gsst_b" id="gs_st50" dir="ltr"><a
class="gsst_a" href="javascript:void(0)" title="Clear search box" role="button" style="display: none;"><span
class="gscb_a" id="gs_cb50" aria-hidden="true">×</span></a></div></td></tr></tbody></table></div></td><td
class="gsc-search-button"><button
class="gsc-search-button gsc-search-button-v2"><svg width="13" height="13" viewBox="0 0 13 13"><title>search</title><path d="m4.8495 7.8226c0.82666 0 1.5262-0.29146 2.0985-0.87438 0.57232-0.58292 0.86378-1.2877 0.87438-2.1144 0.010599-0.82666-0.28086-1.5262-0.87438-2.0985-0.59352-0.57232-1.293-0.86378-2.0985-0.87438-0.8055-0.010599-1.5103 0.28086-2.1144 0.87438-0.60414 0.59352-0.8956 1.293-0.87438 2.0985 0.021197 0.8055 0.31266 1.5103 0.87438 2.1144 0.56172 0.60414 1.2665 0.8956 2.1144 0.87438zm4.4695 0.2115 3.681 3.6819-1.259 1.284-3.6817-3.7 0.0019784-0.69479-0.090043-0.098846c-0.87973 0.76087-1.92 1.1413-3.1207 1.1413-1.3553 0-2.5025-0.46363-3.4417-1.3909s-1.4088-2.0686-1.4088-3.4239c0-1.3553 0.4696-2.4966 1.4088-3.4239 0.9392-0.92727 2.0864-1.3969 3.4417-1.4088 1.3553-0.011889 2.4906 0.45771 3.406 1.4088 0.9154 0.95107 1.379 2.0924 1.3909 3.4239 0 1.2126-0.38043 2.2588-1.1413 3.1385l0.098834 0.090049z"></path></svg></button></td><td
class="gsc-clear-button"><div
class="gsc-clear-button" title="clear results">&nbsp;</div></td></tr></tbody></table></form><div
class="gsc-results-wrapper-nooverlay"><div
class="gsc-positioningWrapper"><div
class="gsc-tabsAreaInvisible"><div aria-label="refinement" role="tab"
class="gsc-tabHeader gsc-inline-block gsc-tabhActive">Custom Search</div><span
class="gs-spacer"> </span></div></div><div
class="gsc-positioningWrapper"><div
class="gsc-refinementsAreaInvisible"></div></div><div
class="gsc-above-wrapper-area-invisible"><div
class="gsc-above-wrapper-area-backfill-container"></div><table cellspacing="0" cellpadding="0" role="presentation"
class="gsc-above-wrapper-area-container"><tbody><tr><td
class="gsc-result-info-container"><div
class="gsc-result-info-invisible"></div></td><td
class="gsc-orderby-container"><div
class="gsc-orderby-invisible"><div
class="gsc-orderby-label gsc-inline-block">Sort by:</div><div
class="gsc-option-menu-container gsc-inline-block"><div
class="gsc-selected-option-container gsc-inline-block"><div
class="gsc-selected-option">Relevance</div><div
class="gsc-option-selector"></div></div><div
class="gsc-option-menu-invisible"><div
class="gsc-option-menu-item gsc-option-menu-item-highlighted"><div
class="gsc-option">Relevance</div></div><div
class="gsc-option-menu-item"><div
class="gsc-option">Date</div></div></div></div></div></td></tr></tbody></table></div><div
class="gsc-adBlockInvisible"></div><div
class="gsc-wrapper"><div
class="gsc-adBlockInvisible"></div><div
class="gsc-resultsbox-invisible"><div
class="gsc-resultsRoot gsc-tabData gsc-tabdActive"><div><div
class="gsc-expansionArea"></div></div></div></div></div></div></div></div>