<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
    appId: '7VFTWRVTP9',
    apiKey: 'c771910ecbccdf7d7bd38e5f9e584f8b',
    siteId: 'e644abbe-334f-4057-9f7b-a79d8ced085e',
    branch: 'main',
    selector: 'div#search',
  });
</script>

<div id="search"></div>