/* Variables */
:root {
  --font-serif: Georgia, 'Times New Roman', serif;
  --font-sans-serif: system-ui, -apple-system, 'Segoe UI', 'Roboto', Ubuntu, Cantarell, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-cursive: cursive;

  /* Colors (Nord, https://www.nordtheme.com) */
  /* Polar Night */
  --color-nord0: #2e3440;
  --color-nord1: #3b4252;
  --color-nord2: #434c5e;
  --color-nord3: #434c5e;

  /* Snow Storm */
  --color-nord4: #d8dee9;
  --color-nord5: #e5e9f0;
  --color-nord6: #eceff4;

  /* Frost */
  --color-nord7: #8fbcbb;
  --color-nord8: #88c0d0;
  --color-nord9: #81a1c1;
  --color-nord10: #5e81ac;

  /* Aurora */
  --color-nord11: #bf616a;
  --color-nord12: #d08770;
  --color-nord13: #ebcb8b;
  --color-nord14: #a3be8c;
  --color-nord15: #b48ead;
}

/* Set preferences and values */
:root {

  /*
    Libre Baskerville is a beautiful and highly readable Serif font-familly.
    Inter is a beautiful Sans-Serif font-familly for interface designs.
    */
  --font-family: 'Libre Baskerville', var(--font-serif);
  --font-family-heading: 'Libre Baskerville', var(--font-serif);

  /* Body font size. By default, effectively 18.4px, based on 16px as 'root em' */
  --base-fontsize: 1.15rem;

  /* Major third scale progression - see https://type-scale.com/ */
  --header-scale: 1.25;

  /* Line height is set to the "Golden ratio" for optimal legibility */
  --line-height: 1.618;

  --bg: var(--color-nord6);
  --accent-bg: var(--color-nord5);
  --text: var(--color-nord1);
  --text-light: var(--color-nord3);
  --border: var(--color-nord4);
  --accent: var(--color-nord10);
  --accent-light: var(--color-nord8);
  --accent-dark: var(--color-nord3);
  --code: var(--color-nord10);
  --preformatted: var(--color-nord10);
  --marked: var(--color-nord13);
  --disabled: var(--color-nord4);
}