{% capture include_to_scssify %}

{% include css/0.0-config.css %}
{% include css/0.1-color.css %}

{% include css/1.1-base.css %}
{% include css/1.2-typography.css %}
{% include css/1.3-table.css %}

{% include css/2.1-images.css %}
{% include css/2.1-cards.css %}
{% include css/2.1-footnotes.css %}

{% include css/3.1-header.css %}
{% include css/3.1-footer.css %}

{% include css/5.1-utils-ui.css %}
{% include css/5.1-utils-theme-toggle.css %}

{% if layout.styles %}	{% include {{ layout.styles }} %}	{% endif %}
{% if page.styles %}		{% include {{ page.styles }} %}		{% endif %}

{% endcapture %}
{{- include_to_scssify | scssify | strip_newlines -}}