{%- capture include_to_scssify -%}

{% include css/0-settings/scale.css %}
{% include css/0-settings/color.css %}
{% include css/0-settings/config.css %}

{% include css/2-base/init.css %}
{% include css/2-base/typography.css %}
{% include css/2-base/forms.css %}
{% include css/2-base/table.css %}

{% include css/3-modules/code.css %}
{% include css/3-modules/img.css %}
{% include css/3-modules/cards.css %}
{% include css/3-modules/footnotes.css %}

{% include css/4-layouts/header.css %}
{% include css/4-layouts/footer.css %}
{% include css/4-layouts/home.css %}
{% include css/4-layouts/pages.css %}
{% include css/4-layouts/archives.css %}
{% include css/4-layouts/search.css %}
{% include css/4-layouts/post.css %}

{%- endcapture -%}
{{- include_to_scssify | scssify | strip_newlines -}}