@font-face {
  font-display: swap;
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/libre-baskerville/libre-baskerville-v14-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: url('/static/fonts/libre-baskerville/libre-baskerville-v14-latin-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/libre-baskerville/libre-baskerville-v14-latin-bold.woff2') format('woff2');
}


/*
@font-face {
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-family: "Atkinson Hyperlegible";
  src: url('/static/fonts/atkinson-hyperlegible/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'),
         url('/static/fonts/atkinson-hyperlegible/Atkinson-Hyperlegible-Regular-102.woff') format('woff');  
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-family: "Atkinson Hyperlegible";
  src: url('/static/fonts/atkinson-hyperlegible/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2'),
         url('/static/fonts/atkinson-hyperlegible/Atkinson-Hyperlegible-Bold-102.woff') format('woff'); 
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/libre-baskerville/roboto-serif-v13-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Serif';
  font-style: italic;
  font-weight: 400;
  src: url('/static/fonts/libre-baskerville/roboto-serif-v13-latin-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/libre-baskerville/roboto-serif-v13-latin-bold.woff2') format('woff2');
}
*/