:root {
  --color-zero              : light-dark(#fff, #000);
  --color-full              : light-dark(#000, #fff);

  --bg-color                : light-dark(var(--color-0),   var(--color-800));
  --bg-color-50             : light-dark(var(--color-50),  var(--color-700));
  --bg-color-100            : light-dark(var(--color-100), var(--color-600));
  --bg-color-200            : light-dark(var(--color-200), var(--color-500));
  --bg-color-full           : light-dark(var(--color-800), var(--color-100));
  
  --text-color              : light-dark(var(--color-700), var(--color-200));
  --text-color-light        : light-dark(var(--color-600), var(--color-300));
  --text-color-lighter      : light-dark(var(--color-500), var(--color-400));
  --text-color-lightest     : light-dark(var(--color-400), var(--color-500));
  --text-color-dark         : light-dark(var(--color-800), var(--color-200));
  --text-color-darker       : light-dark(var(--color-900), var(--color-100));
  --text-color-darkest      : light-dark(var(--color-950), var(--color-50));

  --text-color-link         : light-dark(var(--color-600), var(--color-300));
  --text-color-link-visited : light-dark(var(--color-600), var(--color-300));
  --text-color-link-active  : light-dark(var(--color-full), var(--color-50));

  --border-color            : light-dark(var(--color-300), var(--color-600));
  --border-color-light      : light-dark(var(--color-200), var(--color-800));
  --border-color-lighter    : light-dark(var(--color-100), var(--color-900));
  --border-color-lightest   : light-dark(var(--color-50), var(--color-950));
  --border-color-dark       : light-dark(var(--color-400), var(--color-500));
  --border-color-darker     : light-dark(var(--color-600), var(--color-400));
  --border-color-darkest    : light-dark(var(--color-800), var(--color-300));

  --logo-color              : light-dark(var(--color-800), var(--color-200));
  --logo-color-bg           : light-dark(var(--color-200), var(--color-800));
}