footer.site-footer {
	text-align: center;
	color: var(--text-color-low);
	padding: var(--space-s);
	margin-top: var(--space-xl);
}

footer.site-footer nav {
	text-transform: uppercase;
	font-size: smaller;
}

footer.site-footer nav a {
	padding: 0 var(--space-3xs);
}

footer.site-footer nav a.active {
	cursor: default;
	font-weight: bold;
	color: var(--color-full);
	text-decoration-thickness: 0.1rem;
	text-decoration-color: var(--color-full);
}