header.site-header {
	margin: var(--space-m) auto;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--space-3xs);
}

.header a {
	text-decoration: none;
}

/* logo */
.logo {
	width: var(--logo-size);
	height: var(--logo-size);
	line-height: var(--logo-size);
}

.logo a {
	margin: 0;
	padding: 0;
	display: inline-block;
	border-radius: 100%;
}

.logo a .logo__img, .logo a .logo__img--path,
.logo a:visited .logo__img, .logo a:visited .logo__img--path {
	fill: var(--logo-color);
} 

.logo a:hover, .logo a:active {
	background: var(--logo-color);
}

.logo a:hover .logo__img, .logo a:hover .logo__img--path,
.logo a:active .logo__img, .logo a:active .logo__img--path {
	fill: var(--logo-color-bg);
}

/* menu */
.menu {
	padding: var(--space-smaller) var(--space-small);
	font-size: var(--step--1);
	background-color: var(--bg-color-full);
	border-radius: var(--border-radius-larger);
}

.menu a {
	padding: var(--space-smaller);
	color: var(--text-color-lightest);
}

.menu a:hover, .menu a:active {
	color: var(--color-zero);
}