home-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-l) var(--space-m);

  grid-template-areas:
    "intro intro ."
    "articles articles support"
    "connect books books"
    ;
}

@media only screen and (max-width: $breakpoint-small) {
  home-container {
    grid-template-columns: 1fr;
    grid-template-areas:
    "intro"
    "articles"
    "support"
    "books"
    "connect"
    ;
  }
}

home-container home-intro     { grid-area: intro; }
home-container home-articles  { grid-area: articles; }
home-container home-support   { grid-area: support; }
home-container home-books     { grid-area: books; }
home-container home-connect   { grid-area: connect; }

home-container home-intro {
  font-family: var(--font-family-serif);
  font-size: var(--step-2);
  line-height: var(--scale-small);
}

home-container home-intro h1 {
  margin: 0;
  padding: 0;
  font-size: var(--step-3);
}

home-container home-intro p {
  margin-bottom: 0;
}

/* home: blog */
home-posts {
  display: block;
}

posts-recent ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
  gap: var(--space-2xs);
}

posts-recent ul li {
  flex-grow: 1;
  width: 20ch;
}

posts-recent ul li a, posts-recent ul li a:visited {
  display: block;
  height: 100%;
  margin: 0;
  padding: var(--space-xs) var(--space-s);
  font-size: var(--step-1);
  text-decoration: none;
  line-height: var(--scale-small);

  background: var(--bg-color-100);
  border-radius: var(--border-radius);
  border: var(--border-size) var(--border-style) transparent;
}

posts-recent ul li a:hover, posts-recent ul li a:active {
  background: var(--bg-color);
  border-color: var(--border-color-dark);
}

posts-recent ul time {
  display: block;
  margin-bottom: var(--space-2xs);
  font-size: var(--step--2);
  color: var(--text-color-light);
}

/* home: blog - popular articles */
posts-popular {
  display: block;
  margin: var(--space-l) auto;
}

posts-popular ul {
  margin: 0 0 var(--space-m) 0;
  padding-inline: var(--space-m);
}

posts-popular ul time {
  display: inline-block;
  padding: 0 var(--space-2xs);

  font-size: small;
  
  color: var(--text-color-light);
  background-color: var(--bg-color-100);
  border-radius: var(--border-radius-large);
}


/* support & endorsements */
home-support {
  padding: var(--space-xs) 0;
  font-size: var(--step--1);
}

home-support h2 {
  margin: 0 0 var(--space-m) 0;
  padding: 0;
  
  text-transform: lowercase;
  font-weight: 100;
  
  border-bottom: 1px solid var(--border-color);
}

home-support ul {
  margin: 0;
  padding: 0;
}

home-support li {
  list-style: none;
  margin: 0 0 var(--space-smaller);
  padding: 0;
}

/* connect */
.connect {
  font-size: var(--step--1);
}

.connect ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--text-color-light);
}

.connect__title {
  font-weight: 200;
  font-size: var(--step-1);
  text-transform: lowercase;
  margin: 0 0 var(--space-default);
  padding: 0;
  border-bottom: var(--border-size) var(--border-style) var(--border-color);
}

.connect__title--sub {
  font-weight: 200;
  font-size: var(--step-0);
  text-transform: lowercase;
  margin: 0;
  padding: 0;
}

.connect span {
  margin-right: var(--space-smaller);
  font-family: var(--font-family-monospace);
  font-size: smaller;
  color: var(--text-color-lighter);
}

/* Books - contained in the Flex-ed Item Cards */
home-books {
  padding: var(--space-2xs) 0;
}

home-books li {
  width: 200px;
  flex-basis: auto;
  flex-grow: 1;
}

home-books li a {
  display: block;
  text-decoration: none;
  font-weight: 200;

  /* grayscale */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

home-books a:hover, home-books a:active {
  -webkit-filter: grayscale(0);
  filter: none;
}

home-books img {
  object-fit: cover;
  border-radius: var(--border-radius-large);
  border-top-left-radius: var(--border-radius-tiny);
  border-bottom-left-radius: var(--border-radius-tiny);
}

book-title {}