.home {}

.intro {
  max-width: var(--body-width-ideal);
  font-family: var(--font-family-serif);
  font-size: var(--step-2);
  line-height: var(--scale-small);
}

.intro h1 {
  font-size: var(--step-2);
}


/* home: blog */
.home__blog {}

ul.home__blog--items {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
  gap: var(--space-2xs);
  row-gap: var(--space-2xs);
}

ul.home__blog--items li {
  list-style: none;
  margin: 0;
  padding: var(--space-xs) var(--space-s);
  
  width: 30%;
  
  flex-basis: auto;
  flex-grow: 1;

  font-size: var(--step-1);
  font-weight: 200;
  line-height: var(--scale-small);

  border-radius: var(--border-radius);
  background: var(--bg-color-100);
  border: var(--border-size) var(--border-style) var(--bg-color-100);
}

ul.home__blog--items li:hover, ul.home__blog--items li:active {
  cursor: pointer;
  border-color: var(--border-color);
}

ul.home__blog--items li a, ul.home__blog--items li a:visited {
  display: block;
  height: 100%;
  text-decoration: none;
}

ul.home__blog--items time {
  display: block;
  margin-bottom: var(--space-2xs);
  font-size: small;
  color: var(--text-color-lighter);
}

/* small screens - disable flex columns */
@media (max-width: $breakpoint-small) {
  ul.home__blog--items li {
    width: 100%;
    flex-grow: 0;
  }
}

/* home: blog - popular articles */

.home__blog--popular {
  margin: var(--space-m) auto;
}

ul.home__blog--popular-items {
  margin: 0 0 var(--space-m) 0;
  padding-inline: var(--space-m);
}

ul.home__blog--popular-items time {
  display: inline-block;

  font-family: var(--font-family-monospace);
  font-size: var(--step--2);
  text-transform: uppercase;

  padding: 0 var(--space-2xs);

  color: var(--text-color-lighter);
  background-color: var(--bg-color-100);
  border-radius: var(--border-radius-large);
}


/* support & endorsements */
.support {
  padding: var(--space-xs) 0;
  font-size: var(--step--1);
}

.support h2 {
  margin: 0 0 var(--space-m) 0;
  padding: 0;
  
  text-transform: lowercase;
  font-weight: 100;
  
  border-bottom: 1px solid var(--border-color);
}

.support ul {
  margin: 0;
  padding: 0;
}

.support li {
  list-style: none;
  margin: 0 0 var(--space-smaller);
  padding: 0;
}

/* connect */
.connect {
  font-size: var(--step--1);
}

.connect ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--text-color-light);
}
.connect ul li {}

.connect__title {
  font-weight: 200;
  font-size: var(--step-1);
  text-transform: lowercase;
  margin: 0 0 var(--space-default);
  padding: 0;
}

.connect__title--sub {
  font-weight: 200;
  font-size: var(--step-0);
  text-transform: lowercase;
  margin: 0;
  padding: 0;
}

.connect span {
  margin-right: var(--space-smaller);
  font-family: var(--font-family-monospace);
  font-size: smaller;
  color: var(--text-color-lighter);
}

/* Books - contained in the Flex-ed Item Cards */
.home__books {}

.home__books li {
  flex: 3 3 30%;
}

.home__books a {
  display: block;
  /* grayscale */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.home__books a:hover, .home__books a:active {
  -webkit-filter: grayscale(0);
  filter: none;
}

.home__books img {
  border-radius: var(--border-radius-large);
  border-top-left-radius: var(--border-radius-tiny);
  border-bottom-left-radius: var(--border-radius-tiny);
}