.page-now {
	color: var(--text-color-light);
}

.page-now h1 {
	margin: 0;
	padding: 0 var(--space-3xs);
	font-family: var(--font-family-sans);
	font-size: var(--step--1);
}

.page-now a:hover, .page-now a:active {
	color: var(--text-color);
}

.page-now ul {
	list-style: none;
	margin: 0 0 var(--space-m);
	padding: 0;
}

.page-now ul li {
	margin: var(--space-3xs) 0;
	padding: 0 var(--space-3xs);
}

.page-now ul li ul {
	margin: var(--space-3xs) var(--space-xs);
	padding: 0 var(--space-xs);
	border-left: 1px solid var(--border-color-light);
}

.page-now ul li ul li {
	padding: var(--space-xs);
	border-bottom: 1px solid var(--border-color-lighter);
}

.page-now ul li ul li:last-child {
	border: 0 none;
}

/* list if it happens inside the styled lists - whatever that is */
.page-now ul li ul li ul:has(li) {
	margin: 0 !important;
	padding: 0 var(--space-xs) !important;
	background: none !important;
	border: 0 none !important;
	color: inherit !important;
	font-size: inherit !important;
}
.page-now ul li ul li ul li:nth-child(n+1) {
	list-style: disc;
	margin: 0 var(--space-xs);
	padding: var(--space-3xs);
	font-size: inherit !important;
	border: 0 none;
}

/* NOW - NOW */
.page-now__now {
	margin-bottom: var(--space-default);
}

.page-now__now h1 {
	padding: 0;
	margin: 0;
	border: 0 none;
	color: var(--text-color-dark);
	text-align: center;
}

.page-now__now > ul > li:first-child {
	text-align: center;
	text-transform: uppercase;
	color: var(--text-color-dark);
}

.page-now__now > ul li:first-child ul {
	/* reset the styling from above - its parent */
	text-align: left;
	text-transform: none;
	
	font-size: larger;
	margin: var(--space-default) auto;
	padding: var(--space-3xs) var(--space-default);
	color: var(--text-color);
	background: var(--bg-color-100);
	border-radius: var(--border-radius);
}

.page-now__now ul li ul li {
	padding: var(--space-xser) 0;
	margin: var(--space-3xs) 0;
	border-bottom: var(--border-size) var(--border-style) var(--border-color-light);
}

.page-now__now ul li ul li:last-child {
	border-bottom: 0 none;
}

.page-now__now > ul li:first-child ul li a {
	color: var(--text-color-light);	
}

.page-now__now > ul li:first-child ul li a:hover, .page-now__now > ul li:first-child ul li a:active {
	color: var(--text-color-darkest);	
}

.page-now__now > ul li:first-child ul li {
	padding: var(--space-xs) 0;
	margin: 0;
	border-bottom: var(--border-size) var(--border-style) var(--border-color);
}

.page-now__now > ul li:first-child ul li:last-child {
	border-bottom: 0 none;
}