.page-now {}

.page-now h1 {
	margin: 0;
	padding: 0 var(--space-3xs);
	font-size: var(--step-0);
	border-left: var(--border-size) var(--border-style) var(--border-color);
}

.page-now ul {
}

.page-now ul li {
}

.page-now ul {
	margin: var(--space-s) 0;
	padding: 0 var(--space-xs);
	border-left: var(--border-size) var(--border-style) var(--border-color);
}

.page-now ul li ul li {
	padding: var(--space-xs);
	border-bottom: var(--border-size) var(--border-style) var(--border-color);
}

.page-now ul li ul li:last-child {
	border: 0 none;
}