.pages {}

.pages__title {
	font-size: var(--step-2);
	text-align: center;
}

/* FILM */
.page-film .item__cards li,
.page-devices .item__cards li {
	max-width: 220px;
}

@media only screen and (max-width: $breakpoint-small) {
	.page-film .item__cards li,
	.page-devices .item__cards li {
		max-width: 170px;
	}	
}

.page-film .item__cards a,
.page-devices .item__cards a {
	display: block;
	text-decoration: none;
	opacity: var(--opacity-low);
}

.page-film .item__cards a:hover, .page-film .item__cards a:active,
.page-devices .item__cards a:hover, .page-devices .item__cards a:active {
	opacity: var(--opacity-reset);
}

.page-film figure,
.page-devices figure {
	margin: 0;
	border: 0 none;
	background: none;
}

.page-film figure img {}
.page-film figcaption {
	border: 0 none;
}

.page-film figure span,
.page-devices figure span {
	font-size: x-small;
	color: var(--text-color-low);
}

.page-devices figure span {
	display: block;
}

/* BOOKMARKS */
bookmarks-header {
	display: block;
	text-align: center;
	margin-bottom: var(--space-m);
}

bookmarks-header nav a, bookmarks-header nav a:visited {
	font-family: var(--font-family-monospace);
	font-size: var(--step--1);
	text-decoration: none;
	line-height: calc(var(--scale) * var(--scale-small));
	
	margin: 0;
	padding: var(--space-3xs) var(--space-xs);
	
	background: var(--bg-color-low);
	border: var(--border-size) var(--border-style) transparent;
	border-radius: var(--border-radius);
}

bookmarks-header nav a:hover, bookmarks-header nav a:active {
	background: var(--bg-color);
	border-color: var(--border-color-high);
}

bookmarks-header nav a.active {
	cursor: default;
	color: var(--text-color-lower);
	background: var(--bg-color-higher);
	border-color: transparent;
}