.page-post {}

photo-cover {
	display: block;

	margin-inline: calc(50% - 50vw);
	margin-bottom: var(--space-m);
  width: 100vw;
  max-width: var(--body-width-full);
  height: 600px;
  transform: translateX(calc(50vw - 50%));

   background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* TBD: Move this to container query */
@media (min-width: $breakpoint-extralarge) {
	photo-cover {
		border-radius: var(--border-radius);
	}	
}

photo-cover:has(+ photo-cover__caption) {
	margin-bottom: var(--space-3xs);
}

photo-cover__caption {
	display: block;
	max-width: var(--body-width-ideal);
	margin: var(--space-2xs) auto var(--space-m) auto;
	padding: var(--space-2xs) 0;
	border-bottom: var(--border-size) var(--border-style) var(--border-color);
	
	font-family: var(--font-family-sans);
	font-size: smaller;
	text-align: center;
}

.page-post figure, .page figure {
	font-family: var(--font-family-sans);
}

.post {}

.post h1 {
	font-family: var(--font-family-serif);
	text-align: center;
	margin: 0 auto var(--space-s);
	padding: 0;
}

.post time {
	display: block;
	margin: var(--space-xs) auto;
	padding: var(--space-3xs) var(--space-xs);
	font-size: var(--step--2);
	text-align: center;
}

.post img {
	width: 100%;
	height: auto;
}


/* post navigation */
.post-nav {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	
	padding: 0;
	margin: var(--space-l) auto;
	background: var(--bg-color-low);
	border-radius: var(--border-radius-larger);

	font-family: var(--font-family-sans);
	font-size: smaller;
	text-transform: uppercase;
}

.post-nav a {
	display: block;
	padding: var(--space-smaller) var(--space);
	text-decoration: none;
	color: var(--text-color-low);
}

.post-nav a:hover, .post-nav a:active {
	color: var(--text-color-higher);
	background: var(--bg-color);
}

.post-nav__prev, .post-nav__next {}

.post-nav__prev a {
	border-top-left-radius: var(--border-radius-larger);
	border-bottom-left-radius: var(--border-radius-larger);
}
.post-nav__next a {
	border-top-right-radius: var(--border-radius-larger);
	border-bottom-right-radius: var(--border-radius-larger);
	text-align: right;
}