.page-post {}

.page-post .cover-photo__caption {
	max-width: var(--body-width-ideal);
	margin: var(--space-2xs) auto;
	text-align: center;
	font-family: var(--font-family-sans);
	font-size: smaller;
}

.page-post .cover-photo {
	margin: 0 calc(50% - 50vw);
  width: 100vw;
  max-width: var(--body-width-full);
  height: 600px;
  transform: translateX(calc(50vw - 50%));

   background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* TBD: Move this to container query */
@media (min-width: $breakpoint-extralarge) {
	.page-post .cover-photo {
		border-radius: var(--border-radius);
	}	
}

.page-post figure, .page figure {
	font-family: var(--font-family-sans);
}

.post {
	padding-top: var(--space-l);
}

.post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
	font-family: var(--font-family-serif);
	line-height: var(--scale-small);
	font-weight: 200;
}

.post h1 {
	text-align: center;
	margin: 0 auto var(--space-s);
}

.post time {
	display: block;
	margin: var(--space-xs) auto;
	padding: var(--space-3xs) var(--space-xs);
	font-size: var(--step--2);
	text-align: center;
	color: var(--text-color-lighter);
}

.post img {
	width: 100%;
	height: auto;
}


/* post navigation */
.post-nav {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	
	padding: 0;
	margin: var(--space-l) auto;
	background: var(--bg-color-100);
	border-radius: var(--border-radius-larger);

	font-family: var(--font-family-sans);
	font-size: smaller;
	text-transform: uppercase;
}

.post-nav a {
	display: block;
	padding: var(--space-smaller) var(--space-default);
	text-decoration: none;
	color: var(--text-color-lighter);
}

.post-nav a:hover, .post-nav a:active {
	color: var(--text-color-darker);
	background: var(--bg-color-200);
}

.post-nav__prev, .post-nav__next {}

.post-nav__prev a {
	border-top-left-radius: var(--border-radius-larger);
	border-bottom-left-radius: var(--border-radius-larger);
}
.post-nav__next a {
	border-top-right-radius: var(--border-radius-larger);
	border-bottom-right-radius: var(--border-radius-larger);
	text-align: right;
}