:root {
  color-scheme: light dark;
}

html {
  height: 100%;
}

body {
  font-family: var(--font-family-sans);
  font-feature-settings: 'liga' 1, 'calt' 1;
  font-size: var(--font-size-base);
  line-height: var(--scale);
  color: var(--text-color);
  background-color: var(--bg-color);

  transition: background 500ms ease-in-out, color 200ms ease;
}

main {}

hr {
  padding: 0;
  margin: var(--space-default) auto;
  border: 0;
  height: 0;
  background: none;
  border-bottom: 1px solid var(--border-color);
}

kbd {
  background: var(--color-zero);
  border-bottom: var(--border-size) var(--border-style) var(--border-color);
  border-radius: var(--border-radius-small);
  color: var(--text-color-lighter);
  padding: var(--space-3xs) var(--space-2xs);
  font-size: smaller;
}

/* Restrict sizing to the page width. */
:where(iframe, img, input, video, select, textarea) {
  height: auto;
  max-width: 100%;
}

/* Reduced Motion; Remove
 * animations
 * fixed background attachments
 * timed scrolling behaviors
 * transitions
 */

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important; /* 1 */
    animation-duration: 1ms !important; /* 1 */
    animation-iteration-count: 1 !important; /* 1 */
    background-attachment: initial !important; /* 2 */
    scroll-behavior: auto !important; /* 3 */
    transition-delay: 0s !important; /* 4 */
    transition-duration: 0s !important; /* 4 */
  }
}
