table {
  border-collapse: collapse;
  margin: var(--space-m) auto;
  width: 100%;
  table-layout: fixed;
}

table caption {
  text-align: left;
}

td,
th {
  padding: var(--space-3xs) var(--space-2xs);
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}

thead {
  background: var(--bg-color-200);
  border-bottom: var(--border-size) var(--border-style) var(--border-color-dark);
}

thead th {
  font-weight: 300;
  font-size: var(--step-0);
}

thead th:first-child {
  border-top-left-radius: var(--border-radius);
}

thead th:last-child {
  border-top-right-radius: var(--border-radius);
}

tbody {
  border: var(--border-size) var(--border-style) var(--border-color-lighter);
}

tbody tr {
  border-bottom: var(--border-size) var(--border-style) var(--border-color-lighter);
}

tbody tr:nth-child(even) {
  background-color: var(--bg-color-50);
}

tbody tr:hover, tbody tr:active {
  background: var(--bg-color-100);
  border-bottom-color: var(--border-color);
}


tfoot {
  border-top: var(--border-size) var(--border-style) var(--border-color);
}