h1, h2, h3, h4, h5 , h6 {
	font-weight: 400;
	line-height: var(--scale-small);
	text-wrap: balance; /* Others */
	text-wrap: pretty; /* Chrome as of SEP-2024? */
}

a, a:visited {
  color: var(--text-color-link);
  text-decoration-thickness: 0.7px;
  text-decoration-color: var(--text-color-lower);
  text-underline-offset: 0.2666666667rem;
}

a:hover, a:active {
  color: var(--text-color-link-active);
  text-decoration-color: var(--text-color);
}

blockquote {
	margin: var(--space-m) 0;
	padding: var(--space-3xs) var(--space-m);

	font-family: var(--font-family-serif);
	font-size: var(--step-0);

	background: var(--bg-color-low);
	border-left: var(--border-size-large) var(--border-style) var(--border-color-high);
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

pre {
	padding: var(--space);
	background: var(--color-zero);
	border-radius: var(--border-radius);
	font-family: var(--font-family-monospace);
}

/* normal code that is not attached to a code highlighter */
mark, code.language-plaintext {
	padding: 2px var(--space-3xs);
	font-family: var(--font-family-monospace);
	font-size: smaller;
	color: var(--text-color-light);
	background-color: var(--bg-color);
	border-radius: var(--border-radius-largest);
	border-bottom: var(--border-size) var(--border-style) var(--border-color);

	/* fix edges of wrapped inline elements	*/
	-webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}


aside, .aside {
	float: left;
	width: 70%;
	margin: var(--space-3xs) var(--space-s);
	margin-left: -10vw;
	padding: var(--space-s);

	font-family: var(--font-family-serif);
	background: var(--bg-color-low);
	border-radius: var(--border-radius);
}

aside.left, .aside.left {
	float: left;
	margin: var(--space-3xs) var(--space-s);
	margin-left: -10vw;
}

aside.right, .aside.right {
	float: right;
	margin: var(--space-3xs) var(--space-s);
	margin-right: -10vw;
}

/* rest in small screen, it becomes the same as a blockquote */
@media (max-width: $breakpoint-medium) {
  aside, .aside,
  aside.left, .aside.left,
  aside.right, .aside.right {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

li::marker {
  color: var(--text-color-lower);
}

/* code highlighter from https://github.com/richleland/pygments-css */
.highlight {
	border-radius: var(--border-radius);
}

/* word-wrap plain-text in codes */
.language-plaintext code {
	word-wrap: break-word;
	white-space: pre-wrap;   
}