@font-face {
	font-weight: 400;
  font-style: normal;
  font-display: swap;
	font-family: "Atkinson Hyperlegible";
	src: url('/static/fonts/atkinson-hyperlegible/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'),
         url('/static/fonts/atkinson-hyperlegible/Atkinson-Hyperlegible-Regular-102.woff') format('woff');	
}

@font-face {
	font-weight: 700;
  font-style: normal;
  font-display: swap;
	font-family: "Atkinson Hyperlegible";
	src: url('/static/fonts/atkinson-hyperlegible/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2'),
         url('/static/fonts/atkinson-hyperlegible/Atkinson-Hyperlegible-Bold-102.woff') format('woff');	
}