/* Modular Scale */
:root {
  --double-octave    : 4;
  --pi               : 3.14159265359;
  --major-twelfth    : 3;
  --major-eleventh   : 2.666666667;
  --major-tenth      : 2.5;
  --octave           : 2;
  --major-seventh    : 1.875;
  --minor-seventh    : 1.777777778;
  --major-sixth      : 1.666666667;
  --phi              : 1.618034;
  --golden           : 1.618034;
  --minor-sixth      : 1.6;
  --fifth            : 1.5;
  --augmented-fourth : 1.41421;
  --fourth           : 1.333333333;
  --major-third      : 1.25;
  --minor-third      : 1.2;
  --major-second     : 1.125;
  --minor-second     : 1.066666667;
}

/*
 * Type scale
 * 320px (18px base with 1.2 scale)
 * 1240px (20px max with 1.25 scale)
 * https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
 */

:root {
  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
   --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
   --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
   --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
   --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
   --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
   --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
}


/*
 * Space Scale
 * https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
 */

:root {
  --space-3xs:  clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs:  clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  --space-xs:   clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  --space-s:    clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --space-m:    clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  --space-l:    clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  --space-xl:   clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  --space-2xl:  clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  --space-3xl:  clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs:  clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
  --space-2xs-xs:   clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
  --space-xs-s:     clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
  --space-s-m:      clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
  --space-m-l:      clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
  --space-l-xl:     clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
  --space-xl-2xl:   clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
  --space-2xl-3xl:  clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem);
}

/* CONFIG */

:root {
  --font-family-sans      : system-ui, -apple-system, 'Segoe UI', 'Roboto', Ubuntu, Cantarell, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-serif     : Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  --font-family-monospace : Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  --font-family-cursive   : cursive;

  --font-family           : "Inter", var(--font-family-sans);
  --font-family-alt       : "Georgia", var(--font-family-serif);

  --font-weight-lighter   : 100;
  --font-weight-light     : 200;
  --font-weight           : 400;
  --font-weight-bold      : 600;
  --font-weight-bolder    : 800;
  
  --font-size             : 18px;

  --body-width            : 96%;
  --body-width-ideal      : 46rem; /* ideal reading width */
  --body-width-max        : 76rem; /* visual width */
  --body-width-medium     : 60rem; /* objects that are large but not max */
  --body-width-full       : 1600px;

  --display-small         : 480px;
  --display-medium        : 800px;
  --display-large         : 1024px;
  --display-extralarge    : 1600px;

  --scale-small           : var(--augmented-fourth);
  --scale                 : var(--golden);

  --space                 : calc(var(--scale) * 1rem);
  --space-small           : calc(var(--scale-small) * 0.8rem);
  --space-smaller         : calc(var(--scale-small) * 0.5rem);
  --space-smallest        : calc(var(--scale-small) * 0.2rem);

  --opacity-reset         : 1;
  --opacity-low           : 0.8;
  --opacity-lower         : 0.6;

  --transition-duration   : 0.3s;

  --border-radius         : 7px;
  --border-radius-tiny    : 2px;
  --border-radius-small   : 4px;
  --border-radius-large   : 10px;
  --border-radius-larger  : 25px;
  --border-radius-largest : 42px;

  --border-style          : solid;
  --border-style-alt      : dotted;

  --border-size           : 1px;
  --border-size-small     : 3px;
  --border-size-medium    : 5px;
  --border-size-large     : 8px;
  --border-size-larger    : 12px;
  --border-size-largest   : 20px;

  --logo-size             : 42px;
  --icon-size             : 30px;

  --image-width-max       : var(--body-width-medium);
  --image-width-full      : var(--body-width-full);
}

@media (prefers-color-scheme: dark) {
  img, video {
    opacity: var(--opacity-low);
  }
}

/*
  jekyll supports sass out of the box.
  Use only when plain CSS do not suffice.
  We should move this to containers.
*/
$breakpoint-small      : 480px;
$breakpoint-medium     : 800px;
$breakpoint-large      : 1024px;
$breakpoint-extralarge : 1600px;