/* 2026: Neutral, https://tailwindcss.com/docs/colors */
:root {
  --color-0: oklch(98.5% 0 0);
  --color-1: oklch(97% 0 0);
  --color-2: oklch(92.2% 0 0);
  --color-3: oklch(87% 0 0);
  --color-4: oklch(70.8% 0 0);
  --color-5: oklch(43.9% 0 0);
  --color-6: oklch(37.1% 0 0);
  --color-7: oklch(26.8% 0.007 34.298);
  --color-8: oklch(21.6% 0.006 56.043);
  --color-9: oklch(14.5% 0 0);
}

:root, .theme-light {
  --bg-color-lowest         : var(--color-0);
  --bg-color-lower          : var(--color-1);
  --bg-color-low            : var(--color-2);
  --bg-color                : var(--color-3);
  --bg-color-high           : var(--color-7);
  --bg-color-higher         : var(--color-8);
  
  --text-color-lower        : var(--color-4);
  --text-color-low          : var(--color-5);
  --text-color              : var(--color-7);
  --text-color-higher       : var(--color-9);
  
  --text-color-link         : var(--color-9);

  --border-color-lower      : var(--color-1);
  --border-color-low        : var(--color-2);
  --border-color            : var(--color-3);
  --border-color-high       : var(--color-4);
}

.theme-dark {
  --bg-color-lowest         : var(--color-9);
  --bg-color-lower          : var(--color-8);
  --bg-color-low            : var(--color-7);
  --bg-color                : var(--color-6);
  --bg-color-high           : var(--color-2);
  --bg-color-higher         : var(--color-1);
  
  --text-color-lower        : var(--color-6);
  --text-color-low          : var(--color-5);
  --text-color              : var(--color-4);
  --text-color-higher       : var(--color-1);
  
  --text-color-link         : var(--color-1);

  --border-color-lower      : var(--color-8);
  --border-color-low        : var(--color-7);
  --border-color            : var(--color-6);
  --border-color-high       : var(--color-5);
}

/* COPY-PASTE the above DARK THEME */
@media (prefers-color-scheme: dark) {
  :root:not(.theme-light) {
    --bg-color-lowest         : var(--color-9);
    --bg-color-lower          : var(--color-8);
    --bg-color-low            : var(--color-7);
    --bg-color                : var(--color-6);
    --bg-color-high           : var(--color-2);
    --bg-color-higher         : var(--color-1);

    --text-color-lower        : var(--color-6);
    --text-color-low          : var(--color-5);
    --text-color              : var(--color-4);
    --text-color-higher       : var(--color-1);

    --text-color-link         : var(--color-1);

    --border-color-lower      : var(--color-8);
    --border-color-low        : var(--color-7);
    --border-color            : var(--color-6);
    --border-color-high       : var(--color-5);
  }
}
