/*
 * TBD: transition to oklch()
 * Reference: Tailwind color, https://tailwindcss.com/docs/colors
 */

/* greyscale */
:root {
  --color-1: #f0f0f0;
  --color-2: #e5e5e5;
  --color-3: #d5d5d5;
  --color-4: #a0a0a0;
  --color-5: #606060;
  --color-6: #404040;
  --color-7: #262626;
  --color-8: #171717;
  --color-9: #101010;
}

/* light-dark */
:root, .theme-light {
  --color-zero              : #fff;
  --color-full              : #000;

  --bg-color-lower          : var(--color-1);
  --bg-color-low            : var(--color-2);
  --bg-color                : var(--color-3);
  --bg-color-high           : var(--color-7);
  --bg-color-higher         : var(--color-8);
  
  --text-color-lower        : var(--color-4);
  --text-color-low          : var(--color-5);
  --text-color              : var(--color-8);
  --text-color-high         : var(--color-9);
  --text-color-higher       : var(--color-9);
  
  --text-color-link         : var(--color-8);
  --text-color-link-active  : var(--color-9);

  --border-color-lower      : var(--color-1);
  --border-color-low        : var(--color-2);
  --border-color            : var(--color-3);
  --border-color-high       : var(--color-4);
  --border-color-higher     : var(--color-5);
}

.theme-dark {
  --color-zero              : #000;
  --color-full              : #fff;

  --bg-color-lower          : var(--color-8);
  --bg-color-low            : var(--color-7);
  --bg-color                : var(--color-6);
  --bg-color-high           : var(--color-2);
  --bg-color-higher         : var(--color-1);
  
  --text-color-lower        : var(--color-6);
  --text-color-low          : var(--color-5);
  --text-color              : var(--color-3);
  --text-color-high         : var(--color-2);
  --text-color-higher       : var(--color-1);
  
  --text-color-link         : var(--color-3);
  --text-color-link-active  : var(--color-2);

  --border-color-lower      : var(--color-8);
  --border-color-low        : var(--color-7);
  --border-color            : var(--color-6);
  --border-color-high       : var(--color-5);
  --border-color-higher     : var(--color-4);
}

@media (prefers-color-scheme: dark) {
  :root:not(.theme-light) {
    --color-zero              : #000;
    --color-full              : #fff;

    --bg-color-lower          : var(--color-8);
    --bg-color-low            : var(--color-7);
    --bg-color                : var(--color-6);
    --bg-color-high           : var(--color-2);
    --bg-color-higher         : var(--color-1);
    
    --text-color-lower        : var(--color-6);
    --text-color-low          : var(--color-5);
    --text-color              : var(--color-3);
    --text-color-high         : var(--color-2);
    --text-color-higher       : var(--color-1);
    
    --text-color-link         : var(--color-3);
    --text-color-link-active  : var(--color-2);

    --border-color-lower      : var(--color-8);
    --border-color-low        : var(--color-7);
    --border-color            : var(--color-6);
    --border-color-high       : var(--color-5);
    --border-color-higher     : var(--color-4);
  }
}