table {
  border-collapse: collapse;
  margin: var(--space-default) auto;
  width: 100%;
  table-layout: fixed;
  font-size: smaller;
}

table caption {
  text-align: left;
}

td,
th {
  padding: var(--space-smallest) var(--space-smaller);
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}

thead {
  background: var(--bg-color-200);
  border-bottom: var(--border-size) solid var(--border-color-dark);
}

thead th {
  font-weight: 200;
  font-size: larger;
}

thead th:first-child {
  border-top-left-radius: var(--border-radius);
}

thead th:last-child {
  border-top-right-radius: var(--border-radius);
}

tbody {
  border: var(--border-size) solid var(--border-color-lighter);
}

tbody tr {
  border-bottom: var(--border-size) solid var(--border-color-lighter);
}

tbody tr:nth-child(even) {
  background-color: var(--color-50);
}

tbody tr:hover, tbody tr:active {
  background: var(--color-100);
  border-bottom-color: var(--border-color);
}


tfoot {
  border-top: 1px solid var(--border-color);
}