h1, h2, h3, h4, h5 , h6 {
	font-weight: 200;
	line-height: var(--step-3);
}

a {
  color: var(--text-color-link);
}
a:visited {
  color: var(--text-color-link-visited);
}
a:hover, a:active {
  color: var(--text-color-link-active);
}

blockquote {
	margin: var(--space-m) 0;
	padding: var(--space-3xs) var(--space-m);

	font-family: var(--font-family-alt);
	border-left: var(--border-size-large) var(--border-style) var(--border-color-light);
	background: var(--bg-color-50);
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

mark {
	background: var(--bg-color-200);
	border-radius: var(--border-radius-small);
	padding: var(--space-smallest) var(--space-smaller);
	font-family: var(--font-family-monospace);
	font-size: smaller;
}

pre {
	padding: var(--space-default);
	background: var(--color-zero);
	border-radius: var(--border-radius);
	font-family: var(--font-family-monospace);
}

code {
	font-family: var(--font-family-monospace);
}

aside, .aside {
	float: left;
	width: 70%;
	margin: var(--space-3xs) var(--space-s);
	margin-left: -10vw;
	padding: var(--space-s);

	font-family: var(--font-family-alt);
	background: var(--bg-color-100);
	border-radius: var(--border-radius);
}

aside.right, .aside.right {
	float: right;
	margin: var(--space-3xs) var(--space-s);
	margin-right: -10vw;
}

/* rest in small screen, it becomes the same as a blockquote */
@media (max-width: $breakpoint-medium) {
  aside, .aside,
  aside.right, .aside.right {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

/* code highlighter from https://github.com/richleland/pygments-css */
.highlight {
	border-radius: var(--border-radius);
}

/* word-wrap plain-text in codes */
.language-plaintext code {
	word-wrap: break-word;
	white-space: pre-wrap;   
}