h1, h2, h3, h4, h5 , h6 {
	font-weight: 200;
	line-height: var(--scale-small);
}

a {
  color: var(--text-color-link);
}
a:visited {
  color: var(--text-color-link-visited);
}
a:hover, a:active {
  color: var(--text-color-link-active);
}

blockquote {
	margin: var(--space-default) 0;
	padding: var(--space-smallest) var(--space-default);
	font-family: var(--font-family-alt);
	border-left: var(--border-size-medium) solid var(--border-color-light);
}

mark {
	background: var(--bg-color-200);
	border-radius: var(--border-radius-small);
	padding: var(--space-smallest) var(--space-smaller);
	font-family: var(--font-family-monospace);
	font-size: smaller;
}

pre {
	padding: var(--space-default);
	background: var(--color-zero);
	border-radius: var(--border-radius);
}

code {
	font-size: var(--size-smaller);
}

/* code highlighter from https://github.com/richleland/pygments-css */
.highlight {
	border-radius: var(--border-radius);
}