:root {
  color-scheme: light dark;

  font-family: var(--font-family-sans-serif);
  font-feature-settings: 'liga' 1, 'calt' 1;
  font-optical-sizing: auto;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;

  scroll-behavior: smooth;
  scroll-padding-top: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;

  font-size: var(--font-size);
  font-style: normal;
  font-weight: 400;
  
  line-height: var(--scale);
  
  color: var(--text-color);
  background-color: var(--bg-color-lower);

  transition: background 500ms ease-in-out, color 200ms ease;
}

main {
  container: main / inline-size;
}

main,
.container-ideal {
  width: var(--body-width);
  max-width: var(--body-width-max);
  margin-inline: auto;
}

.container-ideal {
  max-width: var(--body-width-ideal);
}

hr {
  padding: 0;
  margin: var(--space) auto;
  border: 0;
  height: 0;
  background: none;
  border-bottom: 1px solid var(--border-color);
}

kbd {
  background: var(--color-zero);
  border-bottom: var(--border-size) var(--border-style) var(--border-color);
  border-radius: var(--border-radius-small);
  color: var(--text-color-low);
  padding: var(--space-3xs) var(--space-2xs);
  font-size: var(--step--1);
}

/* Restrict sizing to the page width. */
:where(iframe, img, input, video, select, textarea) {
  height: auto;
  max-width: 100%;
}

:where(audio) {
  height: auto;
  width: 100%;
}

/* fix youtube and other video embeds */
/* manual height based on the ideal width against the video ratio, mostly youtube which is 315/560=0.5625 */
iframe, object, embed {
  height: calc(0.5625 * var(--body-width-ideal));
}

.visually-hidden {
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
  white-space: nowrap;
  position: absolute;
}

/* Reduced Motion; Remove
 * animations
 * fixed background attachments
 * timed scrolling behaviors
 * transitions
 */

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}
