h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-light);
  line-height: var(--scale-small);
  text-wrap: balance;
  text-wrap: pretty;
}

h1 { font-size: var(--step-3); }
h2 { font-size: var(--step-2); }
h3 { font-size: var(--step-1); }
h4 { font-size: var(--step-0); }
h5 { font-size: var(--step--1); }
h6 { font-size: var(--step--2); }

a, a:visited {
  color: var(--text-color-link);
  text-decoration: underline;
  text-decoration-color: var(--text-color-lower);
  text-decoration-thickness: 0.8px;
  text-underline-offset: 0.3rem;
}

a:hover, a:active {
  color: var(--text-color-link);
  text-decoration: underline;
  text-decoration-color: var(--text-color);
  text-decoration-thickness: 1px;
}

blockquote {
  margin: var(--space-s) auto;
  padding: var(--space-m) var(--space-l);

  font-size: var(--step-0);
  font-weight: var(--font-weight-light);
  hyphens: none;

  color: var(--text-color-higher);
  background: var(--bg-color-low);
  border-radius: var(--border-radius);
}

blockquote p {
  margin: 0 auto var(--space);
  padding: 0;
}

blockquote p:last-child {
  margin: 0;
}

pre {
  padding: var(--space);
  background-color: var(--bg-color-low);
  border-radius: var(--border-radius);

  font-family: var(--font-family-monospace);
  font-size: var(--step--1);

  overflow-x: auto;
  overflow-y: hidden;
}

code.language-plaintext,
mark,
.mark {
  padding: var(--space-3xs) var(--space-2xs);

  font-size: var(--step--1);

  background-color: var(--bg-color-low); /* set to same as <pre> */
  border-radius: var(--border-radius);

  /* fix edges of wrapped inline elements */
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}

article {}

aside, .aside {
  margin: var(--space-2xs);
  padding: var(--space-s) var(--space-m);

  font-size: var(--step-0);
  font-weight: var(--font-weight-light);
  hyphens: none;

  background: var(--bg-color-low);
  border-radius: var(--border-radius);
}

aside.left, .aside.left {
  float: left;
  margin-left: -10vw;
  width: 70%;
}

aside.right, .aside.right {
  float: right;
  margin-right: -10vw;
  width: 70%;
}

/* rest in small screen, it becomes the same as a blockquote */
@media (max-width: $breakpoint-medium) {
  aside, .aside,
  aside.left, .aside.left,
  aside.right, .aside.right {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

li::marker {
  color: var(--text-color-low);
}

/* code highlighter from https://github.com/richleland/pygments-css */
.highlight {
  border-radius: var(--border-radius);
}

/* word-wrap plain-text in codes */
.language-plaintext code {
  word-wrap: break-word;
  white-space: pre-wrap;
}
