header.site-header {
	padding: var(--space-default) 0;
	margin-bottom: var(--space-large);
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--space-smaller);
}

/* small screens - flush left */
/*@media only screen and (max-width: $breakpoint-small) {
  .header {
  	justify-content: left;
	}
}*/

.header a {
	text-decoration: none;
}

/* logo */
.logo {
	width: var(--logo-size);
	height: var(--logo-size);
	line-height: var(--logo-size);
}

.logo a {
	display: inline-block;
	border-radius: 100%;
}

.logo a:hover, .logo a:active {
	background: var(--logo-color-bg);
}

.logo__img, .logo__img--path {
	fill: var(--logo-color);
}

/* menu */
.menu {
	padding: var(--space-smaller) var(--space-small);
	font-weight: 300;
	font-size: var(--size-smaller);
	background: var(--bg-color-800);
	border-radius: var(--border-radius-larger);
}

.menu a {
	padding: var(--space-smaller);
	color: var(--text-color-lightest);
}

.menu a:hover, .menu a:active {
	color: var(--color-zero);
}