/*
 * TBD:
 * 1. I seem have reset the size somewhere along the cascade fix them without the !important
 * 2. "media.css" —Move/combine this as part of a common media style (images, audio, and video)
 */

img {}

video {
  object-fit: fill; /* set poster same size as video but distorts aspect-radio */
  /* object-fit: cover; */ /* set poster same size as video but cuts off to maintain aspect-radio */
}

img.small,
video.small,
audio.small {
	width: 40% !important;
	height: auto;
}

img.medium,
video.medium,
audio.medium {
	width: 60% !important;
	height: auto;
}

img.left,
audio.left,
video.left {
	float: left;
	margin: 0 var(--space-s) var(--space-s) 0;
}

img.right,
audio.right,
video.right {
  float: right;
	margin: 0 0 var(--space-s) var(--space-s);
}

img.round {
  border-radius: 100%;
}

figure {
  margin: 0 0 var(--space-m);
  padding: 0;
}

figure img {
  width: 100%;
}

figcaption {
  margin: 0 auto;
  padding: var(--space-2xs) var(--space-3xs);
  
  font-family: var(--font-family-ui);
  font-size: var(--step--1);
  border-bottom: var(--border-size) var(--border-style) var(--border-color-low);
}

figure:has(figcaption) {}

@media (min-width: $breakpoint-small) {
  figure.large,
  img.large {
  	margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    
    width: 100vw !important;
    max-width: var(--image-width-max);
    transform: translateX(calc(50vw - 50%));
  }
}

figure.full,
img.full {
  margin: 0 calc(50% - 50vw);
  width: 100vw !important;
  max-width: var(--body-width-full);
  transform: translateX(calc(50vw - 50%));
}

figure.full figcaption, figure.large figcaption {
  padding-inline: 0;
}