.footnotes {
	margin: var(--space-m) auto;
	padding: var(--space-xs);
  padding-right: var(--space-m); /* optical alignment fix */
	background: var(--bg-color-low);
	border-radius: var(--border-radius);
  
  font-family: var(--font-family-ui);
  font-size: var(--step--1);
  hyphens: auto;
}

.reversefootnote {
  visibility: hidden;
  position: relative;
  text-decoration: none;
}

.reversefootnote:after {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  content: "\21B5";
}