/*
 * TBD: I seem have reset the size somewhere along the cascade
 * fix them without the !important
 */

img {
	border-radius: var(--border-radius);
}

img.small {
	width: 40% !important;
	height: auto;
}

img.medium {
	width: 60% !important;
	height: auto;
}

img.left {
	float: left;
	margin: 0 var(--space-s) var(--space-s) 0;
}

img.right {
  float: right;
	margin: 0 0 var(--space-s) var(--space-s);
}

img.round {
  border-radius: 100%;
}

figure {
  margin: 0 0 var(--space-m);
  padding: 0;
  border-radius: var(--border-radius);
}

figure img {
  width: 100%;
}

figcaption {
  max-width: var(--body-width-ideal);
  margin: 0 auto;
  padding: var(--space-xs) var(--space-3xs);
  
  font-family: var(--font-family-ui);
  font-size: var(--step--1);
  text-align: center;
  border-bottom: var(--border-size) var(--border-style) var(--border-color);
}

figure:has(figcaption) {}

@media (min-width: $breakpoint-small) {
  figure.large,
  img.large {
  	margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    
    width: 100vw !important;
    max-width: var(--image-width-max);
    transform: translateX(calc(50vw - 50%));
  }
}

figure.full,
img.full {
  margin: 0 calc(50% - 50vw);
  width: 100vw !important;
  max-width: var(--body-width-full);
  transform: translateX(calc(50vw - 50%));
  border-radius: 0;
}

/* TBD: Move this to container query */
@media (min-width: $breakpoint-extralarge) {
  figure.full img,
  img.full {
    border-radius: var(--border-radius);
  } 
}

figure.full figcaption, figure.large figcaption {
  padding-inline: 0;
}