.page-post {
	margin-top: calc(var(--space-large) * -1);
}

.page-post figure.cover-photo {
	margin: 0 calc(50% - 50vw);
  border-radius: 0;
  width: 100vw;
  max-width: var(--body-width-full);
  transform: translateX(calc(50vw - 50%));
}

.page-post figure.cover-photo img {
	width: 100%;
	height: auto;
	border-radius: 0;
}

.page-post figure.cover-photo figcaption {
	margin: 0;
	border-radius: 0;
}

.page-post figure, .page figure {
	color: var(--text-color-light);
	text-align: center;
}


.post {
	padding-top: var(--space-large);
}

.post h1 {
	font-family: var(--font-family-alt);
	text-align: center;
	margin: 0 auto var(--space-small);
}

.post small {
	display: block;
	margin: var(--space-l) auto;
	padding: 0;
	text-align: center;
	line-height: 0.00000001rem;
	border-bottom: var(--border-size) var(--border-style) var(--border-color-light);
}

.post time {
	padding: var(--space-3xs) var(--space-s);
	color: var(--text-color-lighter);
	border-radius: var(--border-radius-largest);
	background: var(--border-color-light);
}

.post img {
	width: 100%;
	height: auto;
}


/* post navigation */
.post-nav {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	
	padding: 0;
	margin: var(--space-large) auto;
	background: var(--bg-color-100);
	border-radius: var(--border-radius-larger);

	font-size: smaller;
	text-transform: uppercase;
}

.post-nav a {
	display: block;
	padding: var(--space-smaller) var(--space-default);
	text-decoration: none;
	color: var(--text-color-lighter);
}

.post-nav a:hover, .post-nav a:active {
	color: var(--text-color-darker);
	background: var(--bg-color-200);
}

.post-nav__prev, .post-nav__next {}

.post-nav__prev a {
	border-top-left-radius: var(--border-radius-larger);
	border-bottom-left-radius: var(--border-radius-larger);
}
.post-nav__next a {
	border-top-right-radius: var(--border-radius-larger);
	border-bottom-right-radius: var(--border-radius-larger);
	text-align: right;
}