.archives {
	margin: var(--space-default) auto;
	border-radius: var(--border-radius);
	border: 1px solid var(--border-color);
}

.archives a {
	text-decoration: none;
}

.archives a:hover, .archives a:active {
	text-decoration: underline;
}

.archives__year {
	margin: 0;
	padding: var(--space-smaller) var(--space-small);
	font-weight: 200;
	background: var(--bg-color-100);
}

.archives__items {
	list-style: none;
	padding: 0;
	margin: 0;
	border-left: 1px solid var(--border-color-light);
	border-right: 1px solid var(--border-color-light)
}

.archives__item {
	margin: 0;
	padding: var(--space-smallest) 0 0 var(--space-small);
}

.archives__item:nth-child(even) {
	background: var(--bg-color-50);
}

.archives__item:last-child {
	padding-bottom: var(--space-default);
	border: 0 none;
}

.archives__item--date {
	font-family: var(--font-family-monospace);
	font-size: smaller;
	text-transform: uppercase;
	margin-right: var(--space-smaller);
}

.archives__item--title {}