header {
  margin: 0 auto;
  padding: var(--space-xs) 0 var(--space-m) 0;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-3xs);

  border-bottom: var(--border-size) var(--border-style) var(--border-color);
}

/* logo */
site-logo {
  width: var(--logo-size);
  height: var(--logo-size);
}

site-logo a {
  margin: 0;
  padding: 0;
  display: inline-block;
  border-radius: 100%;

  width: var(--logo-size);
  height: var(--logo-size);

  transition: all 0.5s ease;
}

/* SVG: .logo__img and .logo__img--path */
site-logo a .logo__img, site-logo a .logo__img--path,
site-logo a:visited .logo__img, site-logo a:visited .logo__img--path {
  fill: var(--bg-color-high);
} 

/* menu */
site-nav {
  padding: var(--space-2xs);
  font-size: var(--step--1);
  background-color: var(--bg-color-high);
  border-radius: var(--border-radius-larger);
}

site-nav a, site-nav a:visited {
  padding: var(--space-2xs);
  color: var(--text-color-lower);
  text-decoration: none;
}

site-nav a:hover, site-nav a:active, site-nav a.active {
  color: var(--bg-color-lowest);
  text-decoration: none;
}

/* mode: light dark */
mode-toggle {
  display: block;
  margin: 0;
  padding: 0;
}
