/* fix youtube and other video embeds */
iframe, object, embed {
  height: var(--embed-video-height);
  border-radius: var(--border-radius);
}

.pill {
	display: inline-block;
	white-space: nowrap;
	padding: 0 var(--space-smaller);
	border-radius: var(--border-radius-largest);
	background: var(--bg-color-100);
}

.link-border a {
	text-decoration: none;
	border-bottom: var(--border-size) solid var(--text-color-lightest);
}

.link-border a:hover, .link-border a:active {
	border-bottom-color: var(--text-color-darker);
}

/* clamp content to one line */
.one-liner {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.reset-bg-color { background-color: none; }
.reset-border-radius { border-radius: 0; }
.reset-opacity { opacity: 1; }

.visually-hidden {
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
  white-space: nowrap;
  position: absolute;
}

/* debug: attach a "?" class to debug with a blinking box */
.\? {
  animation: \?wobble 0.5s ease-in-out alternate infinite;
}
@keyframes \?wobble {
  0% { box-shadow: inset 1px 1px gold, inset -1px -1px gold; }
  100% { box-shadow: inset 5px 5px red, inset -5px -5px red; }
}