img {
	border-radius: var(--border-radius);
}

img.small {
	width: 40%;
	height: auto;
}

img.medium {
	width: 60%;
	height: auto;
}

img.left {
	float: left;
	margin: 0 var(--space-small) var(--space-small) 0;
}

img.right {
	float: right;
	margin: 0 0 var(--space-small) var(--space-small);
}

/* fix youtube and other video embeds */
iframe, object, embed {
	height: var(--embed-video-height);
  border-radius: var(--border-radius);
}

.pill {
	display: inline-block;
	white-space: nowrap;
	padding: 0 var(--space-smaller);
	border-radius: var(--border-radius-largest);
	background: var(--bg-color-100);
}

.link-border a {
	text-decoration: none;
	border-bottom: var(--border-size) solid var(--text-color-lightest);
}

.link-border a:hover, .link-border a:active {
	border-bottom-color: var(--text-color-darker);
}