home-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-l) var(--space-m);

  grid-template-areas:
    "intro intro ."
    "articles articles support"
    "connect books books"
    ;
}

@media only screen and (max-width: $breakpoint-small) {
  home-container {
    grid-template-columns: 1fr;
    grid-template-areas:
    "intro"
    "articles"
    "support"
    "books"
    "connect"
    ;
  }
}

home-container home-intro     { grid-area: intro; }
home-container home-articles  { grid-area: articles; }
home-container home-support   { grid-area: support; }
home-container home-books     { grid-area: books; }
home-container home-connect   { grid-area: connect; }

home-container home-intro {
  font-size: var(--step-2);
  font-weight: var(--font-weight-light);
}

home-container home-intro h1 {
  margin: var(--space-s) 0;
  padding: 0;
  font-size: var(--step-3);
}

home-container home-intro p {
  margin: 0;
  padding: 0;

  font-size: var(--step-2);
  line-height: var(--scale-small);
}

/* BLOG POSTS */
home-posts {
  display: block;
}

posts-recent {}

posts-recent ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
  gap: var(--space-2xs);
}

posts-recent ul li {
  flex-grow: 1;
  width: 20ch;
}

posts-recent ul li a, posts-recent ul li a:visited {
  display: block;
  height: 100%;
  margin: 0;
  padding: var(--space-xs) var(--space-s);
  
  font-size: var(--step-1);
  font-weight: var(--font-weight-light);
  line-height: var(--scale-small);
  text-decoration: none;
  
  background: var(--bg-color-low);
  border-radius: var(--border-radius);
  border: var(--border-size) var(--border-style) transparent;
}

posts-recent ul li a:hover, posts-recent ul li a:active {
  text-decoration: none;
  background: var(--bg-color);
  border-color: var(--border-color-high);
}

posts-recent ul time {
  display: block;
  margin-bottom: var(--space-2xs);
  font-size: var(--step--2);
  color: var(--text-color-low);
}

/* home: blog - popular articles */
posts-popular {
  display: block;
  margin: var(--space-m) auto;
}

posts-popular ul, posts-popular ol {
  margin: 0 0 var(--space-m) 0;
  padding-inline: var(--space);
}

posts-popular li::marker {
  color: var(--text-color-lower);
}

posts-popular time {
  display: inline-block;
  padding: 0 var(--space-2xs);

  font-size: small;
  
  color: var(--text-color-low);
  background-color: var(--bg-color-low);
  border-radius: var(--border-radius-large);
}


/* SUPPORT & ENDORSEMENTS */
home-support {
  display: block;
  font-size: var(--step--1);
}

home-support h2 {
  text-transform: lowercase;
  font-size: var(--step-1);
  font-weight: var(--font-weight-lighter);
  
  border-bottom: 1px solid var(--border-color);
}

home-support ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

home-support li {
  margin: 0;
  padding: 0 0 var(--space-2xs) 0;
}

/* CONNECT */
.connect {
  font-size: var(--step--1);
}

.connect ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--text-color-low);
}

.connect ul li {}

.connect__title {
  font-weight: var(--font-weight-light);
  font-size: var(--step-1);
  text-transform: lowercase;
  margin: 0 0 var(--space);
  padding: 0;
  border-bottom: var(--border-size) var(--border-style) var(--border-color);
}

.connect__title--sub {
  font-weight: var(--font-weight-light);
  font-size: var(--step-0);
  text-transform: lowercase;
  margin: 0;
  padding: 0;
}

.connect span {
  margin-right: var(--space-smaller);
  font-family: var(--font-family-monospace);
  font-size: smaller;
  color: var(--text-color-low);
}

/* BOOKS */
home-books {
  padding: var(--space-2xs) 0;
}

home-books li {
  width: 240px;
  height: 320px;
  
  flex-basis: auto;
  flex-grow: 1;

  font-size: var(--step--1);
  font-weight: var(--font-weight-light);
  line-height: var(--scale-small);
}

home-books li a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  
  text-decoration: none;
  color: var(--text-color-lower);

  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;

  border-radius: var(--border-radius-large);
  border-top-left-radius: var(--border-radius-tiny);
  border-bottom-left-radius: var(--border-radius-tiny);

  /* grayscale */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

home-books li a:hover, home-books li a:active {
  -webkit-filter: grayscale(0);
  filter: none;
  color: var(--color-zero);
}

book-title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: var(--space-2xs);
  background: var(--bg-color-higher);
  opacity: var(--opacity-low);
  border-bottom-left-radius: var(--border-radius-tiny);
  border-bottom-right-radius: var(--border-radius-large);
}
