page-archives {
	display: block;
	margin: var(--space) auto;
	border-radius: var(--border-radius);
	border: 1px solid var(--border-color);
}

page-archives a {
	display: block;
	text-decoration: none;
}

page-archives a:hover, page-archives a:active {
	text-decoration: underline;
}

page-archives table {
	margin: 0;
	padding: 0;
	border: 0 none;
}
page-archives table td {
	/* a custom spacing that breaks the default spacing values */
	padding: calc(var(--space-3xs)*0.6) var(--space-2xs);
}

page-archives table caption {
	margin: 0;
	padding: 0 var(--space-2xs);
	font-size: var(--step-1);
	font-weight: var(--font-weight-light);
	background: var(--bg-color);
	border-bottom: 1px solid var(--border-color);
}

page-archives table:first-child caption {
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
}

page-archives table:last-child {
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

page-archives table:last-child tr:last-child td:first-child {
	border-bottom-left-radius: var(--border-radius);
}

page-archives table:last-child tr:last-child td:last-child {
	border-bottom-right-radius: var(--border-radius);
}

page-archives table tr td:first-child {
	width: 5rem;
	font-family: var(--font-family-monospace);
	font-size: smaller;
	text-transform: uppercase;
}



/* SEARCH */
search-provider {
  display: block;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color-lower);
}

search-provider * {
  margin: 0;
  padding: 0;
  border: 0 none;
}

search-provider table, search-provider table tr,
search-provider table:hover, search-provider table tr:hover {
  background: 0 none;
  border: 0 none;
}

.gcse-search {}
.gsc-control-cse, .gsc-control-cse-en {
  border-radius: var(--border-radius);
}

.gsc-control-wrapper-cse {}

table.gsc-search-box {}
td.gsc-input {
	width: 75% !important;
  height: 36px;
}
td.gsc-search-button {
	width: 20% !important;
}

.gsc-input-box {}

.gsc-input {}

.gsib_a .gsc-input {}

button.gsc-search-button {
  width: 100%;
  height: 36px;
  cursor: pointer;
}

.gsc-search-button svg {}

.gsc-search-button-v2 {}

.gsc-resultsRoot {}
.gsc-results {}

/* Google's Programmable Search Engine (erstwhile Custom Search Engine) */
/* Use a different font family for search results */
.gs-title,
.gs-snippet {
}

/* Add a border between individual search results */
.gs-webResult {}

/* Do no display the count of search results */
.gsc-result-info {
  display: none;
}

/* Hide the Google branding in search results */
.gcsc-branding {
  display: none;
}

/* Hide the thumbnail images in search results */
.gsc-thumbnail {
  display: none;
}

/* Hide the snippets in Google search results */
.gs-snippet {
  display: none;
}

/* Change the font size of the title of search results */
.gs-title a {
  font-size: 1.2rem;
}

/* Change the font size of snippets inside search results */
.gs-snippet {
  font-size: 1rem;
}

/* Google Custom Search highlights matching words in bold, toggle that */
.gs-title b,
.gs-snippet b {
  font-weight: normal;
}

/* Do no display the URL of web pages in search results */
.gsc-url-top,
.gsc-url-bottom {
  display: none;
}

/* Highlight the pagination buttons at the bottom of search results */
.gsc-cursor-page {
  font-size: 1.5em;
  padding: 4px 8px;
  border: 2px solid #ccc;
}