:root {
  color-scheme: light dark;

  --background-color: #f9fafb;
  --background-color-accent: #DBEAFE;
  --background-color-highlight: #f4f4f5;
  
  --text-color: #3f3f46;
  
  --border-color: #E5E5E5;
  --border-color-highlight: #D4D4D4;

  --pre-text-color: #1e3a8a;
  --pre-background-color: #f1f5f9;

  --text-color-link: #3b82f6;
  --text-color-link-visited: var(--text-color-link);
  --text-color-link-hover: #1e3a8a;
  --text-color-link-active: var(--text-color-link-hover);

  --form-button-text-color: var(--text-color);
  --form-button-text-color-active: var(--text-color);
  --form-button-background-color: #3b82f6;
  --form-button-background-color-disabled: #e4e4e7;
  --form-button-background-color-active: var(--form-button-background-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    
    --background-color: #334155;
    --background-color-accent: #94A3B8;
    --background-color-highlight: #1e293b;
    
    --text-color: #f1f5f9;
    
    --border-color: #1F2937;
    --border-color-highlight: #18181b;
    
    --pre-text-color: #e2e8f0;
    --pre-background-color: #64748b;
    
    --text-color-link: #bfdbfe;
    --text-color-link-visited: var(--text-color-link);
    --text-color-link-hover: #60a5fa;
    --text-color-link-active: var(--text-color-link-hover);
  }
}