/*
 try not to use color variables from other sources.
 this should be independent.
 refer: gray and blue from tailwind color, https://tailwindcss.com/docs/customizing-colors
 */
:root {
  color-scheme: light dark;

  --background-color: #f9fafb;
  --background-color-accent: #dbeafe;
  --background-color-highlight: #f4f4f5;
  
  --text-color: #3f3f46;
  
  --border-color: #e5e5e5;
  --border-color-highlight: #d4d4d4;

  --pre-text-color: #1e3a8a;
  --pre-background-color: #f1f5f9;

  --text-color-link: #1d4ed8;
  --text-color-link-visited: var(--text-color-link);
  --text-color-link-hover: #1e3a8a;
  --text-color-link-active: var(--text-color-link-hover);

  --form-button-text-color: var(--text-color);
  --form-button-text-color-active: var(--text-color);
  --form-button-background-color: #3b82f6;
  --form-button-background-color-disabled: #e4e4e7;
  --form-button-background-color-active: var(--form-button-background-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    
    --background-color: #334155;
    --background-color-accent: #94a3b8;
    --background-color-highlight: #3f3f46;
    
    --text-color: #f1f5f9;
    
    --border-color: #1f2937;
    --border-color-highlight: #18181b;
    
    --pre-text-color: #e2e8f0;
    --pre-background-color: #64748b;
    
    --text-color-link: #93c5fd;
    --text-color-link-visited: var(--text-color-link);
    --text-color-link-hover: #60a5fa;
    --text-color-link-active: var(--text-color-link-hover);
  }
}