/*
 This is the additional styling specific to brajeshwar.com
 the site should still work visually decent even without this style.
*/

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  margin-top: var(--space-double);
  padding: var(--space-base) 0;
}

header h1 {
  margin: 0 var(--space-base) 0 0;
  padding: 0;
}

header h1 a {
  display: inline-block;
  opacity: var(--opacity-no);
  
  width: 4rem;
  height: 4rem;
  
  vertical-align: middle;
  
  text-decoration: none;
  border: 0 none;
}

header h1 a:hover, header h1 a:active {
  opacity: var(--opacity-lower);
}

header h1 img {
  border-radius: 100%;
}

header nav {
  flex-wrap: wrap;
  align-self: center;
  font-size: var(--font-size-smaller);
  font-weight: 500;
}

/* nav links (header/footer) */
nav a {
  padding: var(--space-quarter) 0;
  margin: var(--space-quarter);
  text-transform: uppercase;
  font-family: var(--font-family-sans);
  text-decoration: none;
}

nav a:hover, nav a:active {
  text-decoration: none;
  border-bottom: 3px solid var(--text-color-link-hover);
}

footer {
  margin-top: var(--space-double);
  padding: var(--space-base) 0;
  
  border-top: var(--border-width) solid var(--border-color);

  text-align: center;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-smaller);
}

footer small {
  font-size: var(--font-size-smaller);
}


@media (min-width: 50rem) {
  blockquote {
    margin-left: calc(-1 * var(--space-double));
    margin-right: calc(-1 * var(--space-double));
  }
  
  header {
    margin-left: calc(-1 * 5rem);
  }

  figure.feature {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    transform: translateX(calc(50vw - 50%));
    width: 75vw;
  }

  figure.feature img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}


/* images */
img.small-right,
img.small-left {
  max-width: 50%;
  margin: 0 var(--space-base);
  padding: 0;
}

img.small-right { float: right; margin-right: 0; }
img.small-left  { float: left;  margin-left: 0; }

.gallery {}

.home {}

/* blog list on the homepage */
.blog-articles__list {
  background: var(--background-color-highlight);
  border-radius: var(--border-radius);
}

.blog-articles__list ul, .blog-articles__list ol {
  margin: var(--space-base) 0;
  padding: var(--space-half) 0;
}

.blog-articles__list li {
  list-style: none;
  padding: var(--space-quarter) var(--space-double);
  border-bottom: 1px solid var(--background-color-accent);
}

.blog-articles__list li:last-child {
  border: 0 none;
}

.blog-articles__list time {
  display: inline-block;
  padding: 0 var(--space-quarter);
  opacity: var(--opacity-low);

  font-family: var(--font-family-monospace);
  font-size: var(--font-size-smaller);
}

@media (min-width: 50rem) {
  .blog-articles__list {
    margin-left: calc(-1 * var(--space-double));
    margin-right: calc(-1 * var(--space-double));
  }
}


/* powered by Google Programmable Search, https://programmablesearchengine.google.com/ */
.site-search {
  margin: 0 0 2rem;
  padding: 0.5rem;

  border-radius: var(--border-radius);
  background: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
}

.site-search button {
  height: 36px;
  width: 100px;
  vertical-align: middle;
  cursor: pointer;
}

.post {}
.post-title {}

.post-meta,
.post-nav {
  margin: 0;
  padding: 0.5rem 1rem;

  background: var(--background-color-highlight);
  border-radius: var(--border-radius);
  
  font-family: var(--font-family-sans);
  font-size: small;
  text-transform: uppercase;

  opacity: var(--opacity-low);
}

.post-meta__read {
  display: inline-block;
  float: right;
}

.post-nav {
  padding: 0;
  text-align: center;
}

.post-nav a {
  display: inline-block;
  padding: 1rem 2rem;
  
  text-decoration: none;
}

.page-blog {}

.post-list__title {
  margin: 0 0 -0.7rem;
  padding: 0.5rem;
  border-bottom: 1px solid var(--border-color);
}

.page-blog ol {
  margin: 0; 
  padding: 0;
}

.page-blog li {}

.page-blog li:hover {
  border-bottom-color: var(--text-color-link);
}

.page-blog time {
  opacity: var(--opacity-low);
  margin-right: 0.5rem;

  font-family: var(--font-family-monospace);
  font-size: 70%;
  text-transform: uppercase;
  vertical-align: middle;
}

/* UTILITIES */
.list-alternate-bg li {
  padding: 0.1rem 0.5rem;
  border-bottom: 1px solid var(--border-color);
}

.list-alternate-bg li:nth-child(even) {
  background: var(--background-color-highlight);
}

.list-reset ul,
.list-reset ol {
  margin: 0.6rem 0.2rem;
  padding: 0;
}

.list-reset li {
  list-style: none;
}

.link-reset a {
  text-decoration: none;
}

/* clamp content to one line */
.one-liner {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}


/* rogue syntax highlighter - applies to both the DIV and PRE */
.highlight {
  border-radius: var(--border-radius);
}