header {
  margin-bottom: 1rem;
}

footer {
  margin-top: 2rem;
  border-top: var(--border-width) solid var(--border-color);
  text-align: center;
  font-size: small;
}

/* where the font-family is better off sans, whatever the other fonts are */
.font-sans {
  font-family: var(--font-family-sans);
}

.title {
  margin: 2rem 0 0;
  padding: 0;
  /*border-bottom: 1px solid var(--border);*/
}

.title a {
  display: inline-block;
  width: 4rem;
  max-width: 100%;
  height: auto;

  margin: 0;
  padding: 0;

  text-decoration: none;
}

.home {}

/* powered by Google Programmable Search, https://programmablesearchengine.google.com/ */
.site-search {
  margin: 0 0 2rem;
  padding: 0.5rem;

  border-radius: var(--border-radius);
  background: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
}

.site-search button {
  height: 36px;
  width: 100px;
  vertical-align: middle;
  cursor: pointer;
}

.post {}
.post-title {}

.post-meta,
.post-nav {
  margin: 0;
  padding: 0.5rem 1rem;

  background: var(--background-color-highlight);
  border-radius: var(--border-radius);
  
  font-size: small;
  text-transform: uppercase;

  opacity: 0.8;
}

.post-meta__read {
  display: inline-block;
  float: right;
}

.post-nav {
  padding: 0;
  text-align: center;
}

.post-nav a {
  display: inline-block;
  padding: 1rem 2rem;
  
  text-decoration: none;
}

.page-blog {}

.archives-list__title {
  margin: 0 0 -0.7rem;
  padding: 0.5rem;
  border-bottom: 1px solid var(--border-color);
}

.page-blog ol {
  margin: 0; 
  padding: 0;
}

.page-blog li {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.page-blog time {
  opacity: 0.7;
  margin-right: 0.5rem;

  font-family: var(--font-family-monospace);
  font-size: 70%;
  text-transform: uppercase;
  vertical-align: middle;
}


/* UTILITIES */
.list-alternate-bg li {
  padding: 0.1rem 0.5rem;
  border-bottom: 1px solid var(--border-color);
}

.list-alternate-bg li:nth-child(even) {
  background: var(--background-color-highlight);
}

.list-reset ul,
.list-reset ol {
  margin: 0.6rem 0.2rem;
  padding: 0;
}

.list-reset li {
  list-style: none;
}

.link-reset a {
  text-decoration: none;
}

.gallery {}