/*
 This is the additional styling specific to brajeshwar.com
 the site should still work visually decent even without this style.
*/

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  margin-top: var(--space-double);
  padding: var(--space-base) 0;
}

header h1 {
  margin: 0 var(--space-base) 0 0;
  padding: 0;
}

header h1 a {
  display: inline-block;
  opacity: var(--opacity-no);
  
  width: 4rem;
  height: 4rem;
  
  vertical-align: middle;
  
  text-decoration: none;
  border: 0 none;
}

header h1 a:hover, header h1 a:active {
  opacity: var(--opacity-low);
}

header h1 img {
  border-radius: 100%;
}

header nav {
  flex-wrap: wrap;
  align-self: center;
  font-size: var(--font-size-smaller);
  font-weight: 500;
}

/* nav links (header/footer) */
nav a {
  padding: var(--space-quarter) 0;
  margin: var(--space-quarter);
  text-transform: uppercase;
  font-family: var(--font-family-sans);
  text-decoration: none;
}

nav a:hover, nav a:active {
  text-decoration: none;
  border-bottom: 2px solid var(--text-color-link-hover);
}

footer {
  margin-top: var(--space-double);
  padding: var(--space-base) 0;
  
  border-top: var(--border-width) solid var(--border-color);

  text-align: center;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-smaller);
}

footer small {
  font-size: var(--font-size-smaller);
}

@media (min-width: $breakpoint-large) {
  blockquote,
  .content-extend {
    margin-left: calc(-1 * var(--space-double));
    margin-right: calc(-1 * var(--space-double));
  }
  
  header {
    margin-left: calc(-1 * 5rem);
  }

  figure,
  .wrap-extend {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    transform: translateX(calc(50vw - 50%));
    width: 75vw;
  }

  figure img {
    width: 100%;
    height: auto;
  }
}

/* images --------------------------------------- */

/* images inside post/article are 100% width */
img.small-right,
img.small-left {
  max-width: 60%;
  margin: 0 var(--space-base);
  padding: 0;
}

img.small-right { float: right; margin-right: 0; }
img.small-left  { float: left;  margin-left: 0; }

.gallery {}

/* --------------------------------------- */

/* articles lists --------------------------------------- */
.blog-articles__list {
  margin: var(--space-base) 0;
  padding: 0;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.blog-articles__list li {
  list-style: none;
  padding: calc(1.5 * var(--space-quarter)) var(--space-double);
  border-bottom: 1px solid var(--border-color);
}

.blog-articles__list li:last-child {
  border: 0 none;
}

.blog-articles__list li:nth-child(even) {
  background: var(--background-color-alt);
}

.blog-articles__list time {
  margin: 0;
  padding: 0 var(--space-quarter);
  
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-smallest);
  color: var(--text-color-alt);
}

/* posts-articles --------------------------------------- */

.post-meta,
.post-nav {
  margin: 0;
  padding: 0.5rem 1rem;

  background: var(--background-color-alt);
  border-radius: var(--border-radius);
  
  font-family: var(--font-family-sans);
  font-size: var(--font-size-smallest);
  text-transform: uppercase;

  opacity: var(--opacity-low);
}

.post-meta__read {
  display: inline-block;
  float: right;
}

.post-nav {
  padding: 0;
  text-align: center;
}

.post-nav a {
  display: inline-block;
  padding: 1rem 2rem;
  
  text-decoration: none;
}

/* powered by Google Programmable Search, https://programmablesearchengine.google.com/ */
.site-search {
  margin: 0 0 2rem;
  padding: 0.5rem;

  border-radius: var(--border-radius);
  background: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
}


/* UTILITIES */

/* clamp content to one line */
.one-liner {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/* responsive video */
.video-wrap {
  position: relative;
  margin-top: var(--space-base);
  margin-bottom: var(--space-base);
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 0;
  max-width: 100%;
  height: 0;
  overflow: hidden;
  border-radius: var(--border-radius);
}
  
.video-wrap iframe,
.video-wrap object,
.video-wrap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}

/* rogue syntax highlighter - applies to both the DIV and PRE */
.highlight {
  border-radius: var(--border-radius);
}


/* debug */
/* attach a "?" class to debug with a blinking box */
.\? {
  animation: \?wobble 0.5s ease-in-out alternate infinite;
}
@keyframes \?wobble {
  0% {
    box-shadow: inset 2px 2px gold, inset -2px -2px gold;
  }
  100% {
    box-shadow: inset 7px 7px red, inset -7px -7px red;
  }
}