header {
	padding: var(--space-default) 0;
	margin-bottom: var(--space-large);
	border-bottom: 1px solid var(--border-color);
}

.header {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.logo {
	width: var(--logo-size);
	height: var(--logo-size);
	line-height: var(--logo-size);
	margin-left: -10px; /* optical fix */
}

.logo a {
	display: block;
	border-radius: 100%;
}

.logo a:hover, .logo a:active {
	background: var(--text-color-lighter);
}

.menu {
	text-align: right;
	text-transform: uppercase;
	font-size: smaller;
	line-height: var(--logo-size);
}

.menu a {
	padding: var(--space-smaller);
	text-decoration: none;
	border-radius: var(--border-radius);
}

.menu a:hover, .menu a:active {
	background: var(--text-color-lighter);
}