.hero {
  font-size: var(--size-medium);
  max-width: var(--body-width-ideal);
}

.hero strong {
  display: block;
}

.sidekick {
  max-width: var(--body-width-ideal);
}

.home--blog time {
  font-size: small;
  padding-left: 0.5rem;
}

/* Books */
.cards__books {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: 3%;
  row-gap: var(--space-default);
}

.cards__books--item {
  list-style: none;
  vertical-align: top;
  margin: 0;
  padding: 0;
  max-width: 30%;
  flex-basis: auto;
  flex-grow: 1;
}

.cards__books--item img {
  max-width: 100%;
  height: auto;
}

.cards__books--title {
  font-weight: 400;
  padding: 0;
  margin: var(--space-smaller) 0 0 0;
}

.cards__books--author {}

.cards__books a, .cards__books a:visited {
  text-decoration: none;
  color: var(--text-color);
  opacity: var(--opacity-low);
}

.cards__books a:hover, .cards__books a:active {
  opacity: var(--opacity-reset);
}