.intro {
  font-family: var(--font-family-alt);
  font-size: var(--size-medium);
  line-height: var(--scale);
  max-width: var(--body-width-ideal);
}

.intro__title {
  font-size: var(--size-large);
}

.intro strong {
  display: block;
}

.sidekick {
  max-width: var(--body-width-ideal);
}

/* home: blog */
.home__blog {
  font-size: var(--size-large);
  font-weight: 200;
}
.home__blog--context {
  font-size: var(--size-medium);
}
.home__blog--items {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  gap: var(--space-default);
  row-gap: var(--space-small);
}
.home__blog--item {
  list-style: none;
  margin: 0;
  padding: var(--space-smaller) var(--space-small);
  
  vertical-align: top;
  width: 30%;
  
  flex-basis: auto;
  flex-grow: 1;

  border-radius: var(--border-radius);
  background: var(--color-white);
  border: 1px solid var(--color-white);
  border-bottom-color: var(--gray-200);
}
.home__blog--item:hover, .home__blog--item:active {
  cursor: pointer;
  background: var(--gray-100);
  border: 1px solid var(--gray-200);
}
.home__blog--item a, .home__blog--item a:visited {
  display: block;
  height: 100%;
  text-decoration: none;
  color: var(--text-color);
}
.home__blog--item a:hover, .home__blog--item a:active {
  color: var(--text-color-darker);
}
.home__blog--title {
  line-height: var(--scale);
}
.home__blog--meta {
  font-size: small;
  color: var(--text-color-light);
  padding-top: var(--space-smaller);
  display: block;
}
.home__blog--footer {
  font-size: var(--size-small);
  text-align: right;
}
.home__blog--footer a {
  text-transform: uppercase;
}
/* small screens - disable flex columns */
@media (max-width: $breakpoint-small) {
  .home__blog--item {
    width: 100%;
    flex-grow: 0;
  }
}

/* support & endorsements */
.support {
  font-size: var(--size-smaller);
}

.support__title {
  font-weight: 200;
  text-transform: lowercase;
  border-bottom: 1px solid var(--gray-200);
  border-radius: var(--border-radius);
  margin: 0 0 var(--space-default);
  padding: 0;
}

.support__content {
  padding: var(--space-default);
}

.support__content {
  margin: 0;
  padding: 0;
}

.support__content--item {
  list-style: none;
  margin: 0 0 var(--space-smaller);
  padding: 0;
}

.support__footer {
  color: var(--text-color-medium);
  background: var(--gray-100);
  padding: var(--space-smaller) var(--space-small);
  line-height: var(--scale);
}

/* Books */
.cards__books {
  list-style: none;
  margin: 0;
  padding: 0;
  
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: 3%;
  row-gap: var(--space-default);
}

.cards__books--item {
  list-style: none;
  vertical-align: top;
  margin: 0;
  padding: 0;
  max-width: 30%;
  
  flex-basis: auto;
  flex-grow: 1;
}

.cards__books--item img {
  max-width: 100%;
  height: auto;
}

.cards__books a, .cards__books a:visited {
  opacity: var(--opacity-low);
}

.cards__books a:hover, .cards__books a:active {
  opacity: var(--opacity-reset);
}