.intro {
  font-family: var(--font-family-alt);
  font-size: var(--size-medium);
  line-height: var(--scale);
  max-width: var(--body-width-ideal);
}

.intro__title {
  font-size: var(--size-large);
  margin: 0;
}

.intro__title--sub {}

.intro strong {
  display: block;
}

.sidekick {
  margin: var(--space-smaller) 0;
  padding: var(--space-smaller) var(--space-default);
  font-weight: 100;
  font-size: var(--size-default);
  border-radius: var(--border-radius);
  background: var(--bg-color-50);
  border: 1px solid var(--border-color-lighter);
  border-bottom-color: var(--border-color);
}

/* home: blog */
.home__blog {
  font-size: var(--size-large);
  font-weight: 100;
}
.home__blog--context {
  font-size: smaller;
}
.home__blog--items {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
  gap: var(--space-default);
  row-gap: var(--space-small);
}
.home__blog--item {
  list-style: none;
  margin: 0;
  padding: var(--space-smaller) var(--space-small);
  
  vertical-align: top;
  width: 30%;
  
  flex-basis: auto;
  flex-grow: 1;

  border-radius: var(--border-radius);
  background: var(--bg-color-50);
  border: 1px solid var(--border-color-light);
  border-bottom-color: var(--border-color);
}
.home__blog--item:hover, .home__blog--item:active {
  cursor: pointer;
  background: var(--bg-color-lightest);
  border: 1px solid var(--border-color);
}
.home__blog--item a, .home__blog--item a:visited {
  display: block;
  height: 100%;
  text-decoration: none;
  color: var(--text-color-darker);
}
.home__blog--item a:hover, .home__blog--item a:active {}
.home__blog--title {
  line-height: var(--scale);
}
.home__blog--meta {
  font-size: var(--size-smallest);
  color: var(--text-color-lighter);
  padding-top: var(--space-smaller);
  display: block;
}
.home__blog--footer {
  font-size: var(--size-small);
}
.home__blog--footer a {
  text-transform: uppercase;
}

/* small screens - disable flex columns */
@media (max-width: $breakpoint-small) {
  .home__blog--item {
    width: 100%;
    flex-grow: 0;
  }
}

.home__blog--popular {
  font-size: var(--size-small);
}

.home__blog--popular-items {
  color: var(--text-color-lighter);
  font-size: var(--size-small);
  margin: var(--space-default);
  padding: 0 var(--space-smallest);
}

.home__blog--popular-items span {
  font-size: smaller;
}

.home__blog--popular-items a {
  text-decoration: none;
  color: var(--text-color-dark);
}

.home__blog--popular-items a:hover, .home__blog--popular-items a:active {
  text-decoration: underline;
  color: var(--text-color-darkest);
}


/* support & endorsements */
.support {
  font-size: var(--size-smaller);
}

.support__title {
  font-weight: 200;
  text-transform: lowercase;
  border-bottom: 1px solid var(--border-color);
  margin: 0 0 var(--space-default);
  padding: 0;
}

.support__content {
  padding: var(--space-default);
}

.support__content {
  margin: 0;
  padding: 0;
}

.support__content--item {
  list-style: none;
  margin: 0 0 var(--space-smaller);
  padding: 0;
}

.support__footer {
  color: var(--text-color);
  background: var(--bg-color-100);
  border-radius: var(--border-radius);
  padding: var(--space-smaller) var(--space-small);
  line-height: var(--scale);
}

/* home: grid item ordering */
@media (max-width: $breakpoint-small) {
  .home__order {}
  .home__order--primary { order: 1; }
  .home__order--secondary { order: 2; } 
}

/* connect */
.connect {}
.connect ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: var(--size-smaller);
  color: var(--text-color-light);
}
.connect ul li {
}
.connect__title {
  font-weight: 200;
  font-size: var(--size-medium);
  text-transform: lowercase;
  margin: 0 0 var(--space-default);
  padding: 0;
}

.connect__title--sub {
  font-weight: 200;
  font-size: var(--size-small);
  text-transform: lowercase;
  margin: 0;
  padding: 0;
}

.connect span {
  margin-right: var(--space-smaller);
  font-family: var(--font-family-monospace);
  font-size: var(--size-smaller);
  color: var(--text-color-lighter);
}

/* Books */
.cards__books {
  list-style: none;
  margin: 0;
  padding: 0;
  
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--space-default);
  row-gap: var(--space-default);
}

.cards__books--item {
  list-style: none;
  vertical-align: top;
  margin: 0;
  padding: 0;
  max-width: 30%;
  
  flex-basis: auto;
  flex-grow: 1;
}

.cards__books--item img {
  max-width: 100%;
  height: auto;
}

.cards__books a, .cards__books a:visited {
  /* grayscale image */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.cards__books a:hover, .cards__books a:active {
  -webkit-filter: grayscale(0);
  filter: none;
}