.container,
.container-ideal {
	width: var(--body-width);
	max-width: var(--body-width-max);
	margin: auto;
}

.container-ideal {
	max-width: var(--body-width-ideal);
}

/* footnotes */
.footnotes {
	margin: var(--space-default) 0;
	padding: var(--space-default);
	color: var(--text-color-lighter);
	font-size: var(--size-smaller);
	background: var(--bg-color-50);
	border-radius: var(--border-radius);
}

.reversefootnote {
	text-decoration: none;
}