.container,
.container-ideal {
	width: var(--body-width);
	max-width: var(--body-width-max);
	margin: auto;
}

.container-ideal {
	max-width: var(--body-width-ideal);
}

/* footnotes */
.footnotes {
	margin: var(--space-default) 0;
	padding: var(--space-default);
	font-size: var(--size-smaller);
	border-top: 1px solid var(--border-color);
}

.reversefootnote {
	text-decoration: none;
}