.container,
.container-ideal {
	width: var(--body-width);
	max-width: var(--body-width-max);
	margin: auto;
}

.container-ideal {
	max-width: var(--body-width-ideal);
}

/* footnotes */
.footnotes {
	margin: var(--space-default) 0;
	padding: var(--space-smaller) var(--space-small) var(--space-smaller) 0;
	color: var(--text-color-lighter);
	font-size: var(--size-smaller);
	background: var(--bg-color-100);
	border-radius: var(--border-radius);
}

.reversefootnote {
  visibility: hidden;
  position: relative;
  text-decoration: none;
}

.reversefootnote:after {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  content: "\21B5";
}

/* List Card Items */
ul.item__cards {
	list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: var(--space-default);
  row-gap: var(--space-default);
}

ul.item__cards li {
	list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

ul.item__cards li img {
  max-width: 100%;
  height: auto;
  display: block;
}