.title {
  border-bottom: 1px solid var(--border);
}

.title a {
  display: inline-block;
  width: 16rem;
  height: auto;
  text-decoration: none;
}

.list-reset ul,
.list-reset ol {
  margin: 0.6rem 0.2rem;
  padding: 0;
}

.list-reset li {
  list-style: none;
}

/* form */
