.theme-switch-wrapper {
  display: flex;
  align-items: center;

  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 36px;
  width: 60px;
  position: relative;
}

.slider {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 34px;
  cursor: pointer;
  transition: 0.4s;
  background-color: var(--bg);
  border: 1px solid var(--border);
}

.slider::before {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 4px;
  background-color: var(--accent);
  width: 26px;
  height: 26px;
  transition: 0.4s;
}

.slider::before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--bg);
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.switch-check {
  display: none;
}