.page-now {
	color: var(--text-color-lightest);
	font-weight: 100;
}

.page-now a {
	color: var(--text-color-lightest);
}

.page-now a:hover, .page-now a:active {
	color: var(--text-color);
}

.page-now ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.page-now ul li {
	margin: var(--space-smallest);
	padding: var(--space-smallest) var(--space-small);
}

.page-now ul li ul li ul {
	margin: var(--space-smallest) var(--space-smaller);
	border-left: 1px solid var(--border-color-light);
}

.page-now ul li ul li ul li {
	margin: var(--space-smallest) var(--space-default);
	padding: var(--space-smaller) 0;
	border-bottom: 1px solid var(--border-color-lighter);
	font-weight: 300;
}

.page-now ul li ul li ul li:last-child {
	border: 0 none;
}

/* NOW - This is the last entry. */
.page-now > article > ul > li:first-child > ul > li:first-child {
	padding: var(--space-default);
	margin: var(--space-default) 0;
	color: var(--text-color);
	background: var(--bg-color-100);
	border-radius: var(--border-radius);
	border: 1px solid var(--border-color-lighter);
	border-bottom-color: var(--border-color);
}

.page-now > article > ul > li:first-child > ul > li:first-child a {
	color: var(--text-color-lighter);	
}

.page-now > article > ul > li:first-child > ul > li:first-child a:hover, .page-now > article > ul > li:first-child > ul > li:first-child a:active {
	color: var(--text-color-darkest);	
}

.page-now > article > ul > li:first-child > ul > li:first-child > ul {
	padding: var(--space-smallest) var(--space-small);
	border: 0 none;
}

.page-now > article > ul > li:first-child > ul > li:first-child > ul li {
	margin: 0;
	border-bottom: 1px solid var(--border-color);
}

.page-now > article > ul > li:first-child > ul > li:first-child > ul li:last-child {
	border-bottom: 0 none;
}