.page-now {
	color: var(--text-color-lightest);
	font-weight: 200;
}

.page-now .note {
	font-size: var(--size-smaller);
	font-weight: 100;
	text-align: center;
	border-radius: var(--border-radius);
	background: var(--color-50);
	padding: var(--space-smallest);
}

.page-now h1 {
	font-size: var(--size-small);
	font-weight: 100;
	margin: 0;
	padding: 0;
}

.page-now a {
	color: var(--text-color-lightest);
}

.page-now a:hover, .page-now a:active {
	color: var(--text-color);
}

.page-now ul {
	list-style: none;
	margin: 0 0 var(--space-default);
	padding: 0;
}

.page-now ul li {
	margin: var(--space-smallest);
	padding: 0 var(--space-small);
}

.page-now ul li ul {
	margin: var(--space-smallest) var(--space-small);
	padding: 0 var(--space-small);
	border-left: 1px solid var(--border-color-lighter);
}

.page-now ul li ul li {
	padding: var(--space-small) 0;
	border-bottom: 1px solid var(--border-color-lighter);
}

.page-now ul li ul li:last-child {
	border: 0 none;
}

/* NOW */
.page-now__now {
	margin-bottom: var(--space-default);
}

.page-now__now h1 {
	padding: 0;
	margin: 0;
	border: 0 none;
}

.page-now__now > ul li:first-child ul {
	font-size: larger;
	margin-bottom: var(--space-default);
	padding: var(--space-smallest) var(--space-default);
	color: var(--text-color);
	background: var(--bg-color-100);
	border-radius: var(--border-radius);
	border: 1px solid var(--border-color-lighter);
	border-bottom-color: var(--border-color);
}

.page-now__now ul li ul li {
	padding: var(--space-smaller) 0;
	margin: var(--space-smallest) 0;
	border-bottom: 1px solid var(--border-color-light);
}

.page-now__now ul li ul li:last-child {
	border-bottom: 0 none;
}

.page-now__now > ul li:first-child ul li  a {
	color: var(--text-color-lighter);	
}

.page-now__now > ul li:first-child ul li a:hover, .page-now__now > ul li:first-child ul li a:active {
	color: var(--text-color-darkest);	
}

.page-now__now > ul li:first-child ul li {
	padding: var(--space-small) 0;
	margin: 0;
	border-bottom: 1px solid var(--border-color);
}

.page-now__now > ul li:first-child ul li:last-child {
	border-bottom: 0 none;
}