:root {
  --font-family-sans:       system-ui, -apple-system, 'Segoe UI', 'Roboto', Ubuntu, Cantarell, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-serif:      Georgia, 'Times New Roman', serif;
  --font-family-monospace:  SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-cursive:           cursive;

  /* an ideal reading width */
  --body-width: 48rem;

  /* default: minor third scale progression*/
  --typescale-body: 1.2;

  /* headings:  major third scale progression*/
  --typescale-heading: 1.25;

  /* spacings */
  --spacing-heading: 1rem;

  --font-family: 'Libre Baskerville', var(--font-family-serif);
  --font-family-headings: 'Libre Baskerville', var(--font-family-serif);
  
  --font-size: 16px;
  --font-size-small: 85%;
  --font-size-smaller: 75%;
  --font-size-smallest: 65%;
  
  --line-height: 1.6;
  --line-height-heading: 1.25;

  --border-radius: 0.3rem;
  --border-width: 1px;

  /* color - standard */
  --color-black: #000000;
  --color-white: #ffffff;

  /* grays */
  --color-gray-50:  #f9fafb; /* extra-thin */
  --color-gray-100: #f3f4f6; /* thin */
  --color-gray-200: #e5e7eb; /* Extra-Light */
  --color-gray-300: #d1d5db; /* Light */
  --color-gray-400: #9ca3af; /* Normal (Regular) */
  --color-gray-500: #6b7280; /* Medium */
  --color-gray-600: #4b5563; /* Semi-bold */
  --color-gray-700: #374151; /* Bold */
  --color-gray-800: #1f2937; /* Extra-bold (Ultra-bold) */
  --color-gray-900: #111827; /* Black (Heavy) */
}

@media (prefers-color-scheme: dark) {
  img, video {
    opacity: .8;
  }
}