:root {
	--toggle-width: 24px;
	--toggle-height: 24px;
	--toggle-button-size: 0;
	--toggle-transition-duration: 0.5s;
}

.theme-switch-wrapper {
  display: inline-block;
  float: right;
  width: var(--toggle-width);
  height: var(--toggle-width);
}

.theme-switch {
  display: block;
  position: relative;
  height: var(--toggle-height);
  width: var(--toggle-width);
}

.theme-switch input { display: none; }

.slider {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  cursor: pointer;
  
  background: transparent;
  transition: 0.4s;
}

.slider:before {
  content: "";
  position: absolute;
  background: transparent;
  transition: var(--toggle-transition-duration);
  border-radius: var(--border-radius-round);
}

input:checked + .slider {}

input:checked + .slider:before {
  transform: translateX(calc(1* var(--toggle-button-size)));
}

.slider svg {
  color: var(--text-color);
  position: absolute;
  transition: opacity 0.2s ease 0s, transform 0.35s ease 0s;
  pointer-events: none;
}

.feather {}

.feather-moon { opacity: 0; }
.feather-sun { opacity: 1; }
input:checked + .slider .feather-moon { opacity: 1; }
input:checked + .slider .feather-sun { opacity: 0; }
