table {
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;
  table-layout: fixed;
}

table caption {
  text-align: left;
}

td,
th {
  padding: 6px;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}

thead {
  border-bottom: 1px solid var(--border-color);
}

tfoot {
  border-top: 1px solid var(--border-color);
}

tbody tr:nth-child(even) {
  background-color: var(--color-100);
}

tbody tr:nth-child(even) button {
  background-color: var(--color-white);
}

tbody tr:nth-child(even) button:hover {
  background-color: var(--color-200);
}