a {
  color: var(--text-color-link);
}
a:visited {
  color: var(--text-color-link-visited);
}
a:hover, a:active {
  color: var(--text-color-link-active);
}

blockquote {
	margin: var(--space-default);
	padding: var(--space-smallest) var(--space-default);
	font-family: var(--font-family-alt);
	font-size: var(--size-small);
	font-style: italic;

	background: var(--bg-color-100);
	border-radius: var(--border-radius);
}

pre {
	padding: var(--space-default);
}