a {
  color: var(--text-color-link);
}
a:visited {
  color: var(--text-color-link-visited);
}
a:hover, a:active {
  color: var(--text-color-link-active);
}

blockquote {
	margin: var(--space-default);
	padding: var(--space-smallest) var(--space-default);
	font-family: var(--font-family-alt);
	font-size: var(--size-small);
	font-style: italic;

	background: var(--bg-color-100);
	border-radius: var(--border-radius);
}

mark {
	background: var(--bg-color-300);
	border-radius: var(--border-radius);
	padding: var(--space-smallest) var(--space-smaller);
	font-family: var(--font-family-monospace);
	font-size: var(--size-smaller);
	color: var(--text-color-light);
}

pre {
	padding: var(--space-default);
	background: var(--color-zero);
	border-radius: var(--border-radius);
}

code {
	font-size: var(--size-smaller);
}