/* "Gray" from Tailwind color https://tailwindcss.com/docs/customizing-colors */
:root {
  --color-50:  #f9fafb;
  --color-100: #f3f4f6;
  --color-200: #e5e7eb;
  --color-300: #d1d5db;
  --color-400: #9ca3af;
  --color-500: #6b7280;
  --color-600: #4b5563;
  --color-700: #374151;
  --color-800: #1f2937;
  --color-900: #111827;
  --color-950: #030712;
}