/* "Stone" from Tailwind color https://tailwindcss.com/docs/customizing-colors */
:root {
  --color-50:  #fafaf9;
  --color-100: #f5f5f4;
  --color-200: #e7e5e4;
  --color-300: #d6d3d1;
  --color-400: #a8a29e;
  --color-500: #78716c;
  --color-600: #57534e;
  --color-700: #44403c;
  --color-800: #292524;
  --color-900: #1c1917;
  --color-950: #0c0a09;
}