<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>
  {%- if page.type == "home" -%}
      {{ page.title }}
    {%- else -%}
      {{ page.title }} - {{ site.title }}
    {%- endif -%}
</title>

<style type="text/css">
{%- capture include_to_scssify -%}
  {%- include settings.css -%}
  {%- include base.css -%}
  {%- include main.css -%}
{%- endcapture -%}
{{- include_to_scssify | scssify | strip_newlines  -}}
</style>

</head>
<body>

{% include header.html %}
{{ content }}
{% include footer.html %}

</body>
</html>
