<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>
  {%- if page.type == "home" -%}
    {{ page.title }}
  {%- else -%}
    {{ page.title }} - {{ site.title }}
  {%- endif -%}
</title>

<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="robots" content="index,follow">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#fafafa">

<style type="text/css">
{%- capture include_to_scssify -%}
  {% include css/settings.css %}
  {% include css/styles.css %}
  {% include css/styles-extended.css %}
  {% include css/styles-code.css %}
{%- endcapture -%}
{{- include_to_scssify | scssify | strip_newlines  -}}
</style>

<link rel="stylesheet" media="print" href="/print.css">
<link rel="mask-icon" href="/static/icon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="apple-touch-icon" sizes="180x180" href="/static/icon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/icon/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

</head>
<body>

<main>
  {% include header.html %}
  {{ content }}
  {% include footer.html %}
  {% include script.html %}
</main>

</body>
</html>